.btn {
	display: inline-block;
	font-size: 18px;
    letter-spacing: 0.5px;
	font-family:"Humanist_521 W03 Rom";
	text-transform: uppercase;
	padding: 20px 25px;
	text-decoration: none;
	transition: all 0.1s linear;
	border: 0;
	cursor: pointer;
	&.purple {
		background: $purple;
		color: #fff;
		box-shadow: 8px 8px 0px #c3bcb1;
		&:hover {
			box-shadow: 6px 6px 0px #c3bcb1;
			margin-top: 2px;
			margin-left: 4px;
			margin-bottom: -2px;
		}
	}

	&.white {
		background: #fff;
		color: $purple;
		box-shadow: 8px 8px 0px #c1b9b4;
		&:hover {
			box-shadow: 6px 6px 0px #c1b9b4;
			margin-top: 2px;
			margin-left: 2px;
			margin-bottom: -2px;
		}
	}
}
