input {
    outline: none;
}
.custom_select {
  font-family:"Humanist_521 W03 Rom";
}

.filters {
  border-top: 1px #ccc solid;
  border-bottom: 1px #ccc solid;
  margin-bottom: 50px;
  label {
    font-family:"Humanist_521 W03 Bd";
    float: left;
    margin-right: 10px;
    margin-bottom: 0;
    line-height: 42px;
    @include mq($until: tablet) {
      width: 100%;
    }
  }
  .option {
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
  }
  >div {
    float: left;
    padding: 15px;
  }

  .custom_select {
    border: 1px #ccc solid;
    width: 60%;
    margin: 0;
    height: 40px;
    font-size: 12px;
    @include mq($until: tablet) {
      width: 100%;
    }
    .option_title {
      padding: 13px;
      .arrow {
        top: 13px !important;
      }
    }
  }
  input[type="text"] {
    padding: 10px 13px 11px;
    float: left;
  }
  @include mq($until: tablet) {
    .col-4.dropdown {
      width: 100%;
      margin-bottom: 0;
    }
  }
}

.form-button-error {
  background: #c71414;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  clear: both;
  padding: 5px;
  color: #fff;
  width: 170px;
  margin-top: 120px;
  width: 100%;
  text-align: center;
  p {
    padding: 0;
    font-size: 14px;
  }
}

.jotform-form {

@include mq($until: tablet) {
  .col-6 { 
    width: 100%;
  }
  h2 {
    margin-bottom: 15px;
  }
}

	font-family:"Humanist_521 W03 Rom";

  .custom_select {
    margin: 0 20px 0 0;
    width: 100%;
    font-size: 18px;
    color: #333;
    text-align: left;
    font-family:"Humanist_521 W01 Light"; 

    .select_opts { background-color: #FFF; }

    .option_title { 
      padding: 9px 15px;
      color: #B9B9B6; 
    }

    .option { 
      background: #f3f3f3;
      padding: 11px 15px; 
    }

    .option_title {
      padding-right: 30px;
      background-color: #FFF;
      font-size: 14px;
    }

    .option { 
      border-top: 1px solid #b4aa9b; 
      &:last-child {
        border-bottom: 1px solid #b4aa9b; 
      }
    }

    .option:hover { 
      background-color: #ECECEC; 
    }

    .option.current {
      color: #333;
      background-color: #ECECEC;
    }

    .option_title::selection {
      background-color: transparent; 
    }

    .option_title::-moz-selection {
      background-color: transparent;
    }

    .arrow {
      width: 0;
      height: 0;
      right: 20px !important;
        top: 10px !important;
      font-family: "FontAwesome";
      content: "\f107";
      color: #333;
    }
    .arrow:before {
      font-family: "FontAwesome";
      content: "\f107";
      float: left;
    } 
  }

  .col-6 {
    &.overflow{
      overflow: visible;
      width: 48%;
      @include mq($until: tablet) {
        width: 100%;
      }
    }
  }
	.btn {
		padding: 15px 35px;
    @include mq($until: tablet) {
      width: 100%;
    }
	}
	.pull-right {
		padding-right: 10px;
		padding-top: 20px;
    @include mq($until: tablet) {
      width: 98%;
    }
	}
	hr {
		margin-top: 120px;
		margin-bottom: 50px;
		border-top: 1px #c4bbad solid;
  	border-bottom: transparent;
    
    @include mq($until: tablet) {
      margin-top: 100px;
      margin-bottom: 30px;
    }
	}
	.subheading {
    display: block;
    margin: 0 auto;
		text-align: center;
		font-size: 25px;
    @include mq($until: tablet) {
      font-size: 18px;
      padding-bottom: 15px;
    }
	}
}
.dropdown {
	overflow: visible;
  @include mq($until: tablet) {
    margin-bottom: 40px;
  }
}


.form-textbox {
  display: block;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  font-size: 14px;
  border-radius: 0px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.jotform-form input, .jotform-form textarea {
  width: 100%;
  border: none;
  font-family: "Humanist_521 W01 Light";	
  font-size: 14px;
  box-sizing: border-box;
  margin-bottom: 22px;
  @include mq($until: tablet) {
    margin-bottom: 16px;
  }
}

.jotform-form textarea {
  height: 106px;
  padding: 6px 12px;
  margin-bottom: 18px;
  @include mq($until: tablet) {
    margin-bottom: 16px;
  }
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 400;
}

.registerform {
	text-align: left;
	margin-top: 19px;
  @include mq($until: tablet) {
    margin-top: 0;
  }
}

.custom_select {
  float: left;
  margin: 20px 20px 0 0;
  width: 100%;
  font-size: 18px;
  color: #333;
  text-align: left;
}

.select_opts { background-color: #FFF; }

.option_title { 
  padding: 21px 20px; 
}

.option { 
  background: #f3f3f3;
  padding: 11px 20px; 
}

.option_title {
  padding-right: 30px;
  background-color: #FFF;
}

.option { 
  border-top: 1px solid #b4aa9b; 
  &:last-child {
  	border-bottom: 1px solid #b4aa9b; 
  }
}

.option:hover { 
  background-color: #ECECEC; 
}

.option.current {
  color: #333;
  background-color: #ECECEC;
}

.option_title::selection {
  background-color: transparent; 
}

.option_title::-moz-selection {
  background-color: transparent;
}

.arrow {
  width: 0;
  height: 0;
  right: 30px !important;
  top: 22px !important;
  font-family: "FontAwesome";
  content: "\f107";
  color: #333;
}
.arrow:before {
  font-family: "FontAwesome";
  content: "\f107";
  float: left;
}

.col-6 .form-error-message {
  background: #c71414;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 5px;
  color: #fff;
  font-size: 14px;
  width: 170px;
  margin-top: -10px;
  img {
    width: 16px;
    float: left;
  }
  &:before {
    content: ' ';
    border-top: 0px transparent solid;
    border-left: 10px transparent solid;
    border-right: 10px transparent solid;
    border-bottom: 10px #c71414 solid;
    width: 0px;
    position: absolute;
    margin-top: -15px;
    margin-left: -15px;
  }
}

.form-validation-error {
  box-shadow: inset 0px 0px 0px 2px #C71414;
}


input[type="checkbox"] { 
  display: none; 
}
.checkboxes {
  label {
    cursor: pointer;
    position: relative;
    width: 30px; height: 30px;
    margin: 0px 10px 35px 0;
    background: #fff;
    transition: all .3s ease-in-out;
    font-size: 12pt;
    color: $purple;
    float: left;
    font-smoothing: antialiased;
    .fa {
      position: absolute;
      top: 0; left: 0; right: 0; bottom: 0;
      opacity: 0;
      transform: scale(0);
      transition: all .3s ease-in-out;
      line-height: 30px;
      text-align: center;
    }
  }
  input:checked + label { 
    background: shade($purple, 15%);
    .fa { 
      opacity: 1; transform: scale(1); 
    }
  }
  p {
    font-size: 14px;
    line-height: normal;
  }
}