.holder {
    margin: 15px 0;
}

.holder a {
    font-size: 12px;
    cursor: pointer;
    margin: 0 5px;
    color: #333;
}

.holder a:hover {
    background-color: #222;
    color: #fff;
}

.holder a.jp-previous { margin-right: 15px; }
.holder a.jp-next { margin-left: 15px; }

.holder a.jp-current, a.jp-current:hover { 
    color: #FF4242;
    font-weight: bold;
}

.holder a.jp-disabled, a.jp-disabled:hover {
    color: #bbb;
}

.holder a.jp-current, a.jp-current:hover,
.holder a.jp-disabled, a.jp-disabled:hover {
    cursor: default; 
    background: none;
}

.holder span { margin: 0 5px; }


.gallery {
    overflow: hidden;
    position: relative;
    img {
       width: 100%;
    }
    .slick-thumbs {
        li {
            width: 48.65%;
            float: left;
            margin-bottom: -1px;
            img {
                border: 3px transparent solid;
                cursor: pointer;
            }
            &.selected {
                img {
                    border: 3px $purple solid;
                }
            }
        }
    }
    .zoom {
        position: absolute;
        background-color: $purple;
        top: 10px;
        right: 10px;
        font-size: 24px;
        padding: 10px;
        transition: 0.1s ease-in;
        z-index: 10;
        &:hover {
            opacity: 0.6;
        }
    }
    .gallery-bottom {
        clear: both;
        padding-right: 14px;
    }
}

.thumbs-nav {
    background: $purple;
    color: #fff;
    clear: both;
    line-height: normal;
    overflow: hidden;
    padding: 15px 20px;
    font-family:"Humanist_521 W03 Rom";
    text-transform: uppercase;
}
.thumbs-nav > span {
    color: #fff;
    display: block;
    float: left;
    font-size: 18px;
    cursor: pointer;
    font-weight: 100;
}

.thumbs-nav > span:last-child {
    float: right;
}