@charset "UTF-8";
@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=ab26655f-ae68-4b70-998a-2c26c7ca0b11");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html, body {
  margin: 0;
  height: 100%;
}

.right {
  float: right;
}

.left {
  float: left;
}

.clear {
  clear: both;
}

.mobile,
.tablet-mobile {
  display: none;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: #fff;
  text-decoration: none;
}

/* 
 * Simple column classes. No padding or margins, just widths.
 * Margins/padding to be added in custom styles.
 */
body {
  max-width: 2560px;
  margin: 0 auto;
  overflow-x: hidden;
}

@media (max-width: 61.24em) {
  body {
    width: 100%;
  }
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

* html .clearfix {
  zoom: 1;
}

/* IE6 */
*:first-child + html .clearfix {
  zoom: 1;
}

/* IE7 */
/* WRAPPERS */
.container {
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
}

.container.content {
  padding-bottom: 8px;
}

.container:before, .container:after {
  content: " ";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}

@media (max-width: 61.24em) {
  .container {
    padding: 0 20px;
    box-sizing: border-box;
  }
}

@media (max-width: 61.24em) {
  .container {
    padding: 0 10px;
  }
}

/* COLUMNS */
[class^="col-"] {
  float: left;
  overflow: hidden;
  padding-bottom: 8px;
}

.pull-right {
  float: right !important;
}

.col-1 {
  width: 8.33333%;
}

.col-2 {
  width: 16.66667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33333%;
}

.col-5 {
  width: 41.66667%;
}

.col-6 {
  width: 49%;
}

.col-6:nth-child(2n+2) {
  float: right;
}

.col-7 {
  width: 58.33333%;
}

.col-8 {
  width: 66.66667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33333%;
}

.col-11 {
  width: 91.66667%;
}

.col-12 {
  width: 100%;
}

/* Spacing Classes */
.pad-top-80 {
  padding-top: 80px;
}

.offset {
  padding-left: 15px;
  padding-top: 50px;
}

@media (max-width: 61.24em) {
  .tablet-full-width {
    width: 100%;
  }
  .tablet-half-width {
    width: 50%;
  }
  .offset {
    float: right;
    margin-right: 20px;
  }
}

@media (max-width: 46.24em) {
  .mob-hide {
    display: none !important;
  }
  .tablet-half-width {
    width: 100%;
  }
  .offset {
    text-align: center;
    box-sizing: border-box;
    width: 100%;
    float: none;
    margin-left: 0;
    padding-left: 0;
    margin-bottom: 20px;
  }
  .pad-top-80 {
    padding-top: 40px;
    padding-bottom: 80px;
  }
  .mobile-center {
    text-align: center !important;
  }
}

@media (min-width: 46.25em) {
  .mob-show {
    display: none;
  }
}

/*!
 *  Font Awesome 4.5.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url("//netdna.bootstrapcdn.com/font-awesome/4.5.0/fonts/fontawesome-webfont.eot?v=4.5.0");
  src: url("//netdna.bootstrapcdn.com/font-awesome/4.5.0/fonts/fontawesome-webfont.eot?#iefix&v=4.5.0") format("embedded-opentype"), url("//netdna.bootstrapcdn.com/font-awesome/4.5.0/fonts/fontawesome-webfont.woff2?v=4.5.0") format("woff2"), url("//netdna.bootstrapcdn.com/font-awesome/4.5.0/fonts/fontawesome-webfont.woff?v=4.5.0") format("woff"), url("//netdna.bootstrapcdn.com/font-awesome/4.5.0/fonts/fontawesome-webfont.ttf?v=4.5.0") format("truetype"), url("//netdna.bootstrapcdn.com/font-awesome/4.5.0/fonts/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px / 1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* makes the font 33% larger relative to the icon container */
.fa-lg {
  font-size: 1.33333em;
  line-height: 0.75em;
  vertical-align: -15%;
}

.fa-2x {
  font-size: 2em;
}

.fa-3x {
  font-size: 3em;
}

.fa-4x {
  font-size: 4em;
}

.fa-5x {
  font-size: 5em;
}

.fa-fw {
  width: 1.28571em;
  text-align: center;
}

.fa-ul {
  padding-left: 0;
  margin-left: 2.14286em;
  list-style-type: none;
}

.fa-ul > li {
  position: relative;
}

.fa-li {
  position: absolute;
  left: -2.14286em;
  width: 2.14286em;
  top: 0.14286em;
  text-align: center;
}

.fa-li.fa-lg {
  left: -1.85714em;
}

.fa-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eee;
  border-radius: .1em;
}

.fa-pull-left {
  float: left;
}

.fa-pull-right {
  float: right;
}

.fa.fa-pull-left {
  margin-right: .3em;
}

.fa.fa-pull-right {
  margin-left: .3em;
}

/* Deprecated as of 4.4.0 */
.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.fa.pull-left {
  margin-right: .3em;
}

.fa.pull-right {
  margin-left: .3em;
}

.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}

.fa-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8);
}

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.fa-rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.fa-rotate-180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.fa-rotate-270 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

.fa-flip-horizontal {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.fa-flip-vertical {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1);
}

:root .fa-rotate-90,
:root .fa-rotate-180,
:root .fa-rotate-270,
:root .fa-flip-horizontal,
:root .fa-flip-vertical {
  filter: none;
}

.fa-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
}

.fa-stack-1x, .fa-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}

.fa-stack-1x {
  line-height: inherit;
}

.fa-stack-2x {
  font-size: 2em;
}

.fa-inverse {
  color: #fff;
}

/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */
.fa-glass:before {
  content: "";
}

.fa-music:before {
  content: "";
}

.fa-search:before {
  content: "";
}

.fa-envelope-o:before {
  content: "";
}

.fa-heart:before {
  content: "";
}

.fa-star:before {
  content: "";
}

.fa-star-o:before {
  content: "";
}

.fa-user:before {
  content: "";
}

.fa-film:before {
  content: "";
}

.fa-th-large:before {
  content: "";
}

.fa-th:before {
  content: "";
}

.fa-th-list:before {
  content: "";
}

.fa-check:before {
  content: "";
}

.fa-remove:before,
.fa-close:before,
.fa-times:before {
  content: "";
}

.fa-search-plus:before {
  content: "";
}

.fa-search-minus:before {
  content: "";
}

.fa-power-off:before {
  content: "";
}

.fa-signal:before {
  content: "";
}

.fa-gear:before,
.fa-cog:before {
  content: "";
}

.fa-trash-o:before {
  content: "";
}

.fa-home:before {
  content: "";
}

.fa-file-o:before {
  content: "";
}

.fa-clock-o:before {
  content: "";
}

.fa-road:before {
  content: "";
}

.fa-download:before {
  content: "";
}

.fa-arrow-circle-o-down:before {
  content: "";
}

.fa-arrow-circle-o-up:before {
  content: "";
}

.fa-inbox:before {
  content: "";
}

.fa-play-circle-o:before {
  content: "";
}

.fa-rotate-right:before,
.fa-repeat:before {
  content: "";
}

.fa-refresh:before {
  content: "";
}

.fa-list-alt:before {
  content: "";
}

.fa-lock:before {
  content: "";
}

.fa-flag:before {
  content: "";
}

.fa-headphones:before {
  content: "";
}

.fa-volume-off:before {
  content: "";
}

.fa-volume-down:before {
  content: "";
}

.fa-volume-up:before {
  content: "";
}

.fa-qrcode:before {
  content: "";
}

.fa-barcode:before {
  content: "";
}

.fa-tag:before {
  content: "";
}

.fa-tags:before {
  content: "";
}

.fa-book:before {
  content: "";
}

.fa-bookmark:before {
  content: "";
}

.fa-print:before {
  content: "";
}

.fa-camera:before {
  content: "";
}

.fa-font:before {
  content: "";
}

.fa-bold:before {
  content: "";
}

.fa-italic:before {
  content: "";
}

.fa-text-height:before {
  content: "";
}

.fa-text-width:before {
  content: "";
}

.fa-align-left:before {
  content: "";
}

.fa-align-center:before {
  content: "";
}

.fa-align-right:before {
  content: "";
}

.fa-align-justify:before {
  content: "";
}

.fa-list:before {
  content: "";
}

.fa-dedent:before,
.fa-outdent:before {
  content: "";
}

.fa-indent:before {
  content: "";
}

.fa-video-camera:before {
  content: "";
}

.fa-photo:before,
.fa-image:before,
.fa-picture-o:before {
  content: "";
}

.fa-pencil:before {
  content: "";
}

.fa-map-marker:before {
  content: "";
}

.fa-adjust:before {
  content: "";
}

.fa-tint:before {
  content: "";
}

.fa-edit:before,
.fa-pencil-square-o:before {
  content: "";
}

.fa-share-square-o:before {
  content: "";
}

.fa-check-square-o:before {
  content: "";
}

.fa-arrows:before {
  content: "";
}

.fa-step-backward:before {
  content: "";
}

.fa-fast-backward:before {
  content: "";
}

.fa-backward:before {
  content: "";
}

.fa-play:before {
  content: "";
}

.fa-pause:before {
  content: "";
}

.fa-stop:before {
  content: "";
}

.fa-forward:before {
  content: "";
}

.fa-fast-forward:before {
  content: "";
}

.fa-step-forward:before {
  content: "";
}

.fa-eject:before {
  content: "";
}

.fa-chevron-left:before {
  content: "";
}

.fa-chevron-right:before {
  content: "";
}

.fa-plus-circle:before {
  content: "";
}

.fa-minus-circle:before {
  content: "";
}

.fa-times-circle:before {
  content: "";
}

.fa-check-circle:before {
  content: "";
}

.fa-question-circle:before {
  content: "";
}

.fa-info-circle:before {
  content: "";
}

.fa-crosshairs:before {
  content: "";
}

.fa-times-circle-o:before {
  content: "";
}

.fa-check-circle-o:before {
  content: "";
}

.fa-ban:before {
  content: "";
}

.fa-arrow-left:before {
  content: "";
}

.fa-arrow-right:before {
  content: "";
}

.fa-arrow-up:before {
  content: "";
}

.fa-arrow-down:before {
  content: "";
}

.fa-mail-forward:before,
.fa-share:before {
  content: "";
}

.fa-expand:before {
  content: "";
}

.fa-compress:before {
  content: "";
}

.fa-plus:before {
  content: "";
}

.fa-minus:before {
  content: "";
}

.fa-asterisk:before {
  content: "";
}

.fa-exclamation-circle:before {
  content: "";
}

.fa-gift:before {
  content: "";
}

.fa-leaf:before {
  content: "";
}

.fa-fire:before {
  content: "";
}

.fa-eye:before {
  content: "";
}

.fa-eye-slash:before {
  content: "";
}

.fa-warning:before,
.fa-exclamation-triangle:before {
  content: "";
}

.fa-plane:before {
  content: "";
}

.fa-calendar:before {
  content: "";
}

.fa-random:before {
  content: "";
}

.fa-comment:before {
  content: "";
}

.fa-magnet:before {
  content: "";
}

.fa-chevron-up:before {
  content: "";
}

.fa-chevron-down:before {
  content: "";
}

.fa-retweet:before {
  content: "";
}

.fa-shopping-cart:before {
  content: "";
}

.fa-folder:before {
  content: "";
}

.fa-folder-open:before {
  content: "";
}

.fa-arrows-v:before {
  content: "";
}

.fa-arrows-h:before {
  content: "";
}

.fa-bar-chart-o:before,
.fa-bar-chart:before {
  content: "";
}

.fa-twitter-square:before {
  content: "";
}

.fa-facebook-square:before {
  content: "";
}

.fa-camera-retro:before {
  content: "";
}

.fa-key:before {
  content: "";
}

.fa-gears:before,
.fa-cogs:before {
  content: "";
}

.fa-comments:before {
  content: "";
}

.fa-thumbs-o-up:before {
  content: "";
}

.fa-thumbs-o-down:before {
  content: "";
}

.fa-star-half:before {
  content: "";
}

.fa-heart-o:before {
  content: "";
}

.fa-sign-out:before {
  content: "";
}

.fa-linkedin-square:before {
  content: "";
}

.fa-thumb-tack:before {
  content: "";
}

.fa-external-link:before {
  content: "";
}

.fa-sign-in:before {
  content: "";
}

.fa-trophy:before {
  content: "";
}

.fa-github-square:before {
  content: "";
}

.fa-upload:before {
  content: "";
}

.fa-lemon-o:before {
  content: "";
}

.fa-phone:before {
  content: "";
}

.fa-square-o:before {
  content: "";
}

.fa-bookmark-o:before {
  content: "";
}

.fa-phone-square:before {
  content: "";
}

.fa-twitter:before {
  content: "";
}

.fa-facebook-f:before,
.fa-facebook:before {
  content: "";
}

.fa-github:before {
  content: "";
}

.fa-unlock:before {
  content: "";
}

.fa-credit-card:before {
  content: "";
}

.fa-feed:before,
.fa-rss:before {
  content: "";
}

.fa-hdd-o:before {
  content: "";
}

.fa-bullhorn:before {
  content: "";
}

.fa-bell:before {
  content: "";
}

.fa-certificate:before {
  content: "";
}

.fa-hand-o-right:before {
  content: "";
}

.fa-hand-o-left:before {
  content: "";
}

.fa-hand-o-up:before {
  content: "";
}

.fa-hand-o-down:before {
  content: "";
}

.fa-arrow-circle-left:before {
  content: "";
}

.fa-arrow-circle-right:before {
  content: "";
}

.fa-arrow-circle-up:before {
  content: "";
}

.fa-arrow-circle-down:before {
  content: "";
}

.fa-globe:before {
  content: "";
}

.fa-wrench:before {
  content: "";
}

.fa-tasks:before {
  content: "";
}

.fa-filter:before {
  content: "";
}

.fa-briefcase:before {
  content: "";
}

.fa-arrows-alt:before {
  content: "";
}

.fa-group:before,
.fa-users:before {
  content: "";
}

.fa-chain:before,
.fa-link:before {
  content: "";
}

.fa-cloud:before {
  content: "";
}

.fa-flask:before {
  content: "";
}

.fa-cut:before,
.fa-scissors:before {
  content: "";
}

.fa-copy:before,
.fa-files-o:before {
  content: "";
}

.fa-paperclip:before {
  content: "";
}

.fa-save:before,
.fa-floppy-o:before {
  content: "";
}

.fa-square:before {
  content: "";
}

.fa-navicon:before,
.fa-reorder:before,
.fa-bars:before {
  content: "";
}

.fa-list-ul:before {
  content: "";
}

.fa-list-ol:before {
  content: "";
}

.fa-strikethrough:before {
  content: "";
}

.fa-underline:before {
  content: "";
}

.fa-table:before {
  content: "";
}

.fa-magic:before {
  content: "";
}

.fa-truck:before {
  content: "";
}

.fa-pinterest:before {
  content: "";
}

.fa-pinterest-square:before {
  content: "";
}

.fa-google-plus-square:before {
  content: "";
}

.fa-google-plus:before {
  content: "";
}

.fa-money:before {
  content: "";
}

.fa-caret-down:before {
  content: "";
}

.fa-caret-up:before {
  content: "";
}

.fa-caret-left:before {
  content: "";
}

.fa-caret-right:before {
  content: "";
}

.fa-columns:before {
  content: "";
}

.fa-unsorted:before,
.fa-sort:before {
  content: "";
}

.fa-sort-down:before,
.fa-sort-desc:before {
  content: "";
}

.fa-sort-up:before,
.fa-sort-asc:before {
  content: "";
}

.fa-envelope:before {
  content: "";
}

.fa-linkedin:before {
  content: "";
}

.fa-rotate-left:before,
.fa-undo:before {
  content: "";
}

.fa-legal:before,
.fa-gavel:before {
  content: "";
}

.fa-dashboard:before,
.fa-tachometer:before {
  content: "";
}

.fa-comment-o:before {
  content: "";
}

.fa-comments-o:before {
  content: "";
}

.fa-flash:before,
.fa-bolt:before {
  content: "";
}

.fa-sitemap:before {
  content: "";
}

.fa-umbrella:before {
  content: "";
}

.fa-paste:before,
.fa-clipboard:before {
  content: "";
}

.fa-lightbulb-o:before {
  content: "";
}

.fa-exchange:before {
  content: "";
}

.fa-cloud-download:before {
  content: "";
}

.fa-cloud-upload:before {
  content: "";
}

.fa-user-md:before {
  content: "";
}

.fa-stethoscope:before {
  content: "";
}

.fa-suitcase:before {
  content: "";
}

.fa-bell-o:before {
  content: "";
}

.fa-coffee:before {
  content: "";
}

.fa-cutlery:before {
  content: "";
}

.fa-file-text-o:before {
  content: "";
}

.fa-building-o:before {
  content: "";
}

.fa-hospital-o:before {
  content: "";
}

.fa-ambulance:before {
  content: "";
}

.fa-medkit:before {
  content: "";
}

.fa-fighter-jet:before {
  content: "";
}

.fa-beer:before {
  content: "";
}

.fa-h-square:before {
  content: "";
}

.fa-plus-square:before {
  content: "";
}

.fa-angle-double-left:before {
  content: "";
}

.fa-angle-double-right:before {
  content: "";
}

.fa-angle-double-up:before {
  content: "";
}

.fa-angle-double-down:before {
  content: "";
}

.fa-angle-left:before {
  content: "";
}

.fa-angle-right:before {
  content: "";
}

.fa-angle-up:before {
  content: "";
}

.fa-angle-down:before {
  content: "";
}

.fa-desktop:before {
  content: "";
}

.fa-laptop:before {
  content: "";
}

.fa-tablet:before {
  content: "";
}

.fa-mobile-phone:before,
.fa-mobile:before {
  content: "";
}

.fa-circle-o:before {
  content: "";
}

.fa-quote-left:before {
  content: "";
}

.fa-quote-right:before {
  content: "";
}

.fa-spinner:before {
  content: "";
}

.fa-circle:before {
  content: "";
}

.fa-mail-reply:before,
.fa-reply:before {
  content: "";
}

.fa-github-alt:before {
  content: "";
}

.fa-folder-o:before {
  content: "";
}

.fa-folder-open-o:before {
  content: "";
}

.fa-smile-o:before {
  content: "";
}

.fa-frown-o:before {
  content: "";
}

.fa-meh-o:before {
  content: "";
}

.fa-gamepad:before {
  content: "";
}

.fa-keyboard-o:before {
  content: "";
}

.fa-flag-o:before {
  content: "";
}

.fa-flag-checkered:before {
  content: "";
}

.fa-terminal:before {
  content: "";
}

.fa-code:before {
  content: "";
}

.fa-mail-reply-all:before,
.fa-reply-all:before {
  content: "";
}

.fa-star-half-empty:before,
.fa-star-half-full:before,
.fa-star-half-o:before {
  content: "";
}

.fa-location-arrow:before {
  content: "";
}

.fa-crop:before {
  content: "";
}

.fa-code-fork:before {
  content: "";
}

.fa-unlink:before,
.fa-chain-broken:before {
  content: "";
}

.fa-question:before {
  content: "";
}

.fa-info:before {
  content: "";
}

.fa-exclamation:before {
  content: "";
}

.fa-superscript:before {
  content: "";
}

.fa-subscript:before {
  content: "";
}

.fa-eraser:before {
  content: "";
}

.fa-puzzle-piece:before {
  content: "";
}

.fa-microphone:before {
  content: "";
}

.fa-microphone-slash:before {
  content: "";
}

.fa-shield:before {
  content: "";
}

.fa-calendar-o:before {
  content: "";
}

.fa-fire-extinguisher:before {
  content: "";
}

.fa-rocket:before {
  content: "";
}

.fa-maxcdn:before {
  content: "";
}

.fa-chevron-circle-left:before {
  content: "";
}

.fa-chevron-circle-right:before {
  content: "";
}

.fa-chevron-circle-up:before {
  content: "";
}

.fa-chevron-circle-down:before {
  content: "";
}

.fa-html5:before {
  content: "";
}

.fa-css3:before {
  content: "";
}

.fa-anchor:before {
  content: "";
}

.fa-unlock-alt:before {
  content: "";
}

.fa-bullseye:before {
  content: "";
}

.fa-ellipsis-h:before {
  content: "";
}

.fa-ellipsis-v:before {
  content: "";
}

.fa-rss-square:before {
  content: "";
}

.fa-play-circle:before {
  content: "";
}

.fa-ticket:before {
  content: "";
}

.fa-minus-square:before {
  content: "";
}

.fa-minus-square-o:before {
  content: "";
}

.fa-level-up:before {
  content: "";
}

.fa-level-down:before {
  content: "";
}

.fa-check-square:before {
  content: "";
}

.fa-pencil-square:before {
  content: "";
}

.fa-external-link-square:before {
  content: "";
}

.fa-share-square:before {
  content: "";
}

.fa-compass:before {
  content: "";
}

.fa-toggle-down:before,
.fa-caret-square-o-down:before {
  content: "";
}

.fa-toggle-up:before,
.fa-caret-square-o-up:before {
  content: "";
}

.fa-toggle-right:before,
.fa-caret-square-o-right:before {
  content: "";
}

.fa-euro:before,
.fa-eur:before {
  content: "";
}

.fa-gbp:before {
  content: "";
}

.fa-dollar:before,
.fa-usd:before {
  content: "";
}

.fa-rupee:before,
.fa-inr:before {
  content: "";
}

.fa-cny:before,
.fa-rmb:before,
.fa-yen:before,
.fa-jpy:before {
  content: "";
}

.fa-ruble:before,
.fa-rouble:before,
.fa-rub:before {
  content: "";
}

.fa-won:before,
.fa-krw:before {
  content: "";
}

.fa-bitcoin:before,
.fa-btc:before {
  content: "";
}

.fa-file:before {
  content: "";
}

.fa-file-text:before {
  content: "";
}

.fa-sort-alpha-asc:before {
  content: "";
}

.fa-sort-alpha-desc:before {
  content: "";
}

.fa-sort-amount-asc:before {
  content: "";
}

.fa-sort-amount-desc:before {
  content: "";
}

.fa-sort-numeric-asc:before {
  content: "";
}

.fa-sort-numeric-desc:before {
  content: "";
}

.fa-thumbs-up:before {
  content: "";
}

.fa-thumbs-down:before {
  content: "";
}

.fa-youtube-square:before {
  content: "";
}

.fa-youtube:before {
  content: "";
}

.fa-xing:before {
  content: "";
}

.fa-xing-square:before {
  content: "";
}

.fa-youtube-play:before {
  content: "";
}

.fa-dropbox:before {
  content: "";
}

.fa-stack-overflow:before {
  content: "";
}

.fa-instagram:before {
  content: "";
}

.fa-flickr:before {
  content: "";
}

.fa-adn:before {
  content: "";
}

.fa-bitbucket:before {
  content: "";
}

.fa-bitbucket-square:before {
  content: "";
}

.fa-tumblr:before {
  content: "";
}

.fa-tumblr-square:before {
  content: "";
}

.fa-long-arrow-down:before {
  content: "";
}

.fa-long-arrow-up:before {
  content: "";
}

.fa-long-arrow-left:before {
  content: "";
}

.fa-long-arrow-right:before {
  content: "";
}

.fa-apple:before {
  content: "";
}

.fa-windows:before {
  content: "";
}

.fa-android:before {
  content: "";
}

.fa-linux:before {
  content: "";
}

.fa-dribbble:before {
  content: "";
}

.fa-skype:before {
  content: "";
}

.fa-foursquare:before {
  content: "";
}

.fa-trello:before {
  content: "";
}

.fa-female:before {
  content: "";
}

.fa-male:before {
  content: "";
}

.fa-gittip:before,
.fa-gratipay:before {
  content: "";
}

.fa-sun-o:before {
  content: "";
}

.fa-moon-o:before {
  content: "";
}

.fa-archive:before {
  content: "";
}

.fa-bug:before {
  content: "";
}

.fa-vk:before {
  content: "";
}

.fa-weibo:before {
  content: "";
}

.fa-renren:before {
  content: "";
}

.fa-pagelines:before {
  content: "";
}

.fa-stack-exchange:before {
  content: "";
}

.fa-arrow-circle-o-right:before {
  content: "";
}

.fa-arrow-circle-o-left:before {
  content: "";
}

.fa-toggle-left:before,
.fa-caret-square-o-left:before {
  content: "";
}

.fa-dot-circle-o:before {
  content: "";
}

.fa-wheelchair:before {
  content: "";
}

.fa-vimeo-square:before {
  content: "";
}

.fa-turkish-lira:before,
.fa-try:before {
  content: "";
}

.fa-plus-square-o:before {
  content: "";
}

.fa-space-shuttle:before {
  content: "";
}

.fa-slack:before {
  content: "";
}

.fa-envelope-square:before {
  content: "";
}

.fa-wordpress:before {
  content: "";
}

.fa-openid:before {
  content: "";
}

.fa-institution:before,
.fa-bank:before,
.fa-university:before {
  content: "";
}

.fa-mortar-board:before,
.fa-graduation-cap:before {
  content: "";
}

.fa-yahoo:before {
  content: "";
}

.fa-google:before {
  content: "";
}

.fa-reddit:before {
  content: "";
}

.fa-reddit-square:before {
  content: "";
}

.fa-stumbleupon-circle:before {
  content: "";
}

.fa-stumbleupon:before {
  content: "";
}

.fa-delicious:before {
  content: "";
}

.fa-digg:before {
  content: "";
}

.fa-pied-piper:before {
  content: "";
}

.fa-pied-piper-alt:before {
  content: "";
}

.fa-drupal:before {
  content: "";
}

.fa-joomla:before {
  content: "";
}

.fa-language:before {
  content: "";
}

.fa-fax:before {
  content: "";
}

.fa-building:before {
  content: "";
}

.fa-child:before {
  content: "";
}

.fa-paw:before {
  content: "";
}

.fa-spoon:before {
  content: "";
}

.fa-cube:before {
  content: "";
}

.fa-cubes:before {
  content: "";
}

.fa-behance:before {
  content: "";
}

.fa-behance-square:before {
  content: "";
}

.fa-steam:before {
  content: "";
}

.fa-steam-square:before {
  content: "";
}

.fa-recycle:before {
  content: "";
}

.fa-automobile:before,
.fa-car:before {
  content: "";
}

.fa-cab:before,
.fa-taxi:before {
  content: "";
}

.fa-tree:before {
  content: "";
}

.fa-spotify:before {
  content: "";
}

.fa-deviantart:before {
  content: "";
}

.fa-soundcloud:before {
  content: "";
}

.fa-database:before {
  content: "";
}

.fa-file-pdf-o:before {
  content: "";
}

.fa-file-word-o:before {
  content: "";
}

.fa-file-excel-o:before {
  content: "";
}

.fa-file-powerpoint-o:before {
  content: "";
}

.fa-file-photo-o:before,
.fa-file-picture-o:before,
.fa-file-image-o:before {
  content: "";
}

.fa-file-zip-o:before,
.fa-file-archive-o:before {
  content: "";
}

.fa-file-sound-o:before,
.fa-file-audio-o:before {
  content: "";
}

.fa-file-movie-o:before,
.fa-file-video-o:before {
  content: "";
}

.fa-file-code-o:before {
  content: "";
}

.fa-vine:before {
  content: "";
}

.fa-codepen:before {
  content: "";
}

.fa-jsfiddle:before {
  content: "";
}

.fa-life-bouy:before,
.fa-life-buoy:before,
.fa-life-saver:before,
.fa-support:before,
.fa-life-ring:before {
  content: "";
}

.fa-circle-o-notch:before {
  content: "";
}

.fa-ra:before,
.fa-rebel:before {
  content: "";
}

.fa-ge:before,
.fa-empire:before {
  content: "";
}

.fa-git-square:before {
  content: "";
}

.fa-git:before {
  content: "";
}

.fa-y-combinator-square:before,
.fa-yc-square:before,
.fa-hacker-news:before {
  content: "";
}

.fa-tencent-weibo:before {
  content: "";
}

.fa-qq:before {
  content: "";
}

.fa-wechat:before,
.fa-weixin:before {
  content: "";
}

.fa-send:before,
.fa-paper-plane:before {
  content: "";
}

.fa-send-o:before,
.fa-paper-plane-o:before {
  content: "";
}

.fa-history:before {
  content: "";
}

.fa-circle-thin:before {
  content: "";
}

.fa-header:before {
  content: "";
}

.fa-paragraph:before {
  content: "";
}

.fa-sliders:before {
  content: "";
}

.fa-share-alt:before {
  content: "";
}

.fa-share-alt-square:before {
  content: "";
}

.fa-bomb:before {
  content: "";
}

.fa-soccer-ball-o:before,
.fa-futbol-o:before {
  content: "";
}

.fa-tty:before {
  content: "";
}

.fa-binoculars:before {
  content: "";
}

.fa-plug:before {
  content: "";
}

.fa-slideshare:before {
  content: "";
}

.fa-twitch:before {
  content: "";
}

.fa-yelp:before {
  content: "";
}

.fa-newspaper-o:before {
  content: "";
}

.fa-wifi:before {
  content: "";
}

.fa-calculator:before {
  content: "";
}

.fa-paypal:before {
  content: "";
}

.fa-google-wallet:before {
  content: "";
}

.fa-cc-visa:before {
  content: "";
}

.fa-cc-mastercard:before {
  content: "";
}

.fa-cc-discover:before {
  content: "";
}

.fa-cc-amex:before {
  content: "";
}

.fa-cc-paypal:before {
  content: "";
}

.fa-cc-stripe:before {
  content: "";
}

.fa-bell-slash:before {
  content: "";
}

.fa-bell-slash-o:before {
  content: "";
}

.fa-trash:before {
  content: "";
}

.fa-copyright:before {
  content: "";
}

.fa-at:before {
  content: "";
}

.fa-eyedropper:before {
  content: "";
}

.fa-paint-brush:before {
  content: "";
}

.fa-birthday-cake:before {
  content: "";
}

.fa-area-chart:before {
  content: "";
}

.fa-pie-chart:before {
  content: "";
}

.fa-line-chart:before {
  content: "";
}

.fa-lastfm:before {
  content: "";
}

.fa-lastfm-square:before {
  content: "";
}

.fa-toggle-off:before {
  content: "";
}

.fa-toggle-on:before {
  content: "";
}

.fa-bicycle:before {
  content: "";
}

.fa-bus:before {
  content: "";
}

.fa-ioxhost:before {
  content: "";
}

.fa-angellist:before {
  content: "";
}

.fa-cc:before {
  content: "";
}

.fa-shekel:before,
.fa-sheqel:before,
.fa-ils:before {
  content: "";
}

.fa-meanpath:before {
  content: "";
}

.fa-buysellads:before {
  content: "";
}

.fa-connectdevelop:before {
  content: "";
}

.fa-dashcube:before {
  content: "";
}

.fa-forumbee:before {
  content: "";
}

.fa-leanpub:before {
  content: "";
}

.fa-sellsy:before {
  content: "";
}

.fa-shirtsinbulk:before {
  content: "";
}

.fa-simplybuilt:before {
  content: "";
}

.fa-skyatlas:before {
  content: "";
}

.fa-cart-plus:before {
  content: "";
}

.fa-cart-arrow-down:before {
  content: "";
}

.fa-diamond:before {
  content: "";
}

.fa-ship:before {
  content: "";
}

.fa-user-secret:before {
  content: "";
}

.fa-motorcycle:before {
  content: "";
}

.fa-street-view:before {
  content: "";
}

.fa-heartbeat:before {
  content: "";
}

.fa-venus:before {
  content: "";
}

.fa-mars:before {
  content: "";
}

.fa-mercury:before {
  content: "";
}

.fa-intersex:before,
.fa-transgender:before {
  content: "";
}

.fa-transgender-alt:before {
  content: "";
}

.fa-venus-double:before {
  content: "";
}

.fa-mars-double:before {
  content: "";
}

.fa-venus-mars:before {
  content: "";
}

.fa-mars-stroke:before {
  content: "";
}

.fa-mars-stroke-v:before {
  content: "";
}

.fa-mars-stroke-h:before {
  content: "";
}

.fa-neuter:before {
  content: "";
}

.fa-genderless:before {
  content: "";
}

.fa-facebook-official:before {
  content: "";
}

.fa-pinterest-p:before {
  content: "";
}

.fa-whatsapp:before {
  content: "";
}

.fa-server:before {
  content: "";
}

.fa-user-plus:before {
  content: "";
}

.fa-user-times:before {
  content: "";
}

.fa-hotel:before,
.fa-bed:before {
  content: "";
}

.fa-viacoin:before {
  content: "";
}

.fa-train:before {
  content: "";
}

.fa-subway:before {
  content: "";
}

.fa-medium:before {
  content: "";
}

.fa-yc:before,
.fa-y-combinator:before {
  content: "";
}

.fa-optin-monster:before {
  content: "";
}

.fa-opencart:before {
  content: "";
}

.fa-expeditedssl:before {
  content: "";
}

.fa-battery-4:before,
.fa-battery-full:before {
  content: "";
}

.fa-battery-3:before,
.fa-battery-three-quarters:before {
  content: "";
}

.fa-battery-2:before,
.fa-battery-half:before {
  content: "";
}

.fa-battery-1:before,
.fa-battery-quarter:before {
  content: "";
}

.fa-battery-0:before,
.fa-battery-empty:before {
  content: "";
}

.fa-mouse-pointer:before {
  content: "";
}

.fa-i-cursor:before {
  content: "";
}

.fa-object-group:before {
  content: "";
}

.fa-object-ungroup:before {
  content: "";
}

.fa-sticky-note:before {
  content: "";
}

.fa-sticky-note-o:before {
  content: "";
}

.fa-cc-jcb:before {
  content: "";
}

.fa-cc-diners-club:before {
  content: "";
}

.fa-clone:before {
  content: "";
}

.fa-balance-scale:before {
  content: "";
}

.fa-hourglass-o:before {
  content: "";
}

.fa-hourglass-1:before,
.fa-hourglass-start:before {
  content: "";
}

.fa-hourglass-2:before,
.fa-hourglass-half:before {
  content: "";
}

.fa-hourglass-3:before,
.fa-hourglass-end:before {
  content: "";
}

.fa-hourglass:before {
  content: "";
}

.fa-hand-grab-o:before,
.fa-hand-rock-o:before {
  content: "";
}

.fa-hand-stop-o:before,
.fa-hand-paper-o:before {
  content: "";
}

.fa-hand-scissors-o:before {
  content: "";
}

.fa-hand-lizard-o:before {
  content: "";
}

.fa-hand-spock-o:before {
  content: "";
}

.fa-hand-pointer-o:before {
  content: "";
}

.fa-hand-peace-o:before {
  content: "";
}

.fa-trademark:before {
  content: "";
}

.fa-registered:before {
  content: "";
}

.fa-creative-commons:before {
  content: "";
}

.fa-gg:before {
  content: "";
}

.fa-gg-circle:before {
  content: "";
}

.fa-tripadvisor:before {
  content: "";
}

.fa-odnoklassniki:before {
  content: "";
}

.fa-odnoklassniki-square:before {
  content: "";
}

.fa-get-pocket:before {
  content: "";
}

.fa-wikipedia-w:before {
  content: "";
}

.fa-safari:before {
  content: "";
}

.fa-chrome:before {
  content: "";
}

.fa-firefox:before {
  content: "";
}

.fa-opera:before {
  content: "";
}

.fa-internet-explorer:before {
  content: "";
}

.fa-tv:before,
.fa-television:before {
  content: "";
}

.fa-contao:before {
  content: "";
}

.fa-500px:before {
  content: "";
}

.fa-amazon:before {
  content: "";
}

.fa-calendar-plus-o:before {
  content: "";
}

.fa-calendar-minus-o:before {
  content: "";
}

.fa-calendar-times-o:before {
  content: "";
}

.fa-calendar-check-o:before {
  content: "";
}

.fa-industry:before {
  content: "";
}

.fa-map-pin:before {
  content: "";
}

.fa-map-signs:before {
  content: "";
}

.fa-map-o:before {
  content: "";
}

.fa-map:before {
  content: "";
}

.fa-commenting:before {
  content: "";
}

.fa-commenting-o:before {
  content: "";
}

.fa-houzz:before {
  content: "";
}

.fa-vimeo:before {
  content: "";
}

.fa-black-tie:before {
  content: "";
}

.fa-fonticons:before {
  content: "";
}

.fa-reddit-alien:before {
  content: "";
}

.fa-edge:before {
  content: "";
}

.fa-credit-card-alt:before {
  content: "";
}

.fa-codiepie:before {
  content: "";
}

.fa-modx:before {
  content: "";
}

.fa-fort-awesome:before {
  content: "";
}

.fa-usb:before {
  content: "";
}

.fa-product-hunt:before {
  content: "";
}

.fa-mixcloud:before {
  content: "";
}

.fa-scribd:before {
  content: "";
}

.fa-pause-circle:before {
  content: "";
}

.fa-pause-circle-o:before {
  content: "";
}

.fa-stop-circle:before {
  content: "";
}

.fa-stop-circle-o:before {
  content: "";
}

.fa-shopping-bag:before {
  content: "";
}

.fa-shopping-basket:before {
  content: "";
}

.fa-hashtag:before {
  content: "";
}

.fa-bluetooth:before {
  content: "";
}

.fa-bluetooth-b:before {
  content: "";
}

.fa-percent:before {
  content: "";
}

@font-face {
  font-family: "CCUpUpAndAway W00 Regular";
  src: url("Fonts/febbf41f-1d2c-4e21-b22f-e720cfb08895.eot?#iefix");
  src: url("Fonts/febbf41f-1d2c-4e21-b22f-e720cfb08895.eot?#iefix") format("eot"), url("Fonts/ca262dab-7235-48e4-8c3d-a9ab36d5ef14.woff2") format("woff2"), url("Fonts/35ad7019-3a3f-4204-abf4-8931daf2ab74.woff") format("woff"), url("Fonts/ffbbfd0f-1d36-4b72-880e-e3152c573316.ttf") format("truetype"), url("Fonts/5e6daa75-dc89-42ea-93f7-ac9631b946f7.svg#5e6daa75-dc89-42ea-93f7-ac9631b946f7") format("svg");
}

@font-face {
  font-family: "CCFaceFront W00 Regular";
  src: url("Fonts/b548773f-ef3b-47b5-8649-9b3a0e8ab42c.eot?#iefix");
  src: url("Fonts/b548773f-ef3b-47b5-8649-9b3a0e8ab42c.eot?#iefix") format("eot"), url("Fonts/49b4282d-88ec-4008-abdb-d64d8db42aa4.woff2") format("woff2"), url("Fonts/532e4ba6-43fb-45f0-afb5-47c7a7a749c6.woff") format("woff"), url("Fonts/7ded4d62-acfe-4614-8d89-b93136c95658.ttf") format("truetype"), url("Fonts/0406485d-f04b-4744-bd8d-06168cbc57ad.svg#0406485d-f04b-4744-bd8d-06168cbc57ad") format("svg");
}

@font-face {
  font-family: "Humanist_521 W01 Light";
  src: url("Fonts/615f6372-b228-488d-af1e-0b47fbbc1347-.eot#iefix");
  src: url("Fonts/615f6372-b228-488d-af1e-0b47fbbc1347-.eot#iefix") format("eot"), url("Fonts/2f885745-eb6d-44c9-858c-6dac1c0ba5a1.woff2") format("woff2"), url("Fonts/8b53ef19-d0ba-4458-93be-790c207e5b19.woff") format("woff"), url("Fonts/e245f364-7914-49d5-b5f5-baf4a52c4eed.ttf") format("truetype"), url("Fonts/b14902d5-651c-492c-9f8d-e66e88efd307.svg#b14902d5-651c-492c-9f8d-e66e88efd307") format("svg");
}

@font-face {
  font-family: "Humanist_521 W03 Rom";
  src: url("Fonts/4503ef13-f3e3-4ed2-ac71-a118eb8181e9-.eot#iefix");
  src: url("Fonts/4503ef13-f3e3-4ed2-ac71-a118eb8181e9-.eot#iefix") format("eot"), url("Fonts/dd458331-48c7-41ff-9dc0-5d69a7aa0a23.woff2") format("woff2"), url("Fonts/b18eb9cb-0d2b-4d4c-a9d1-e292821c9fca.woff") format("woff"), url("Fonts/129ebbfb-5f8f-400f-8c79-59b5927858a7.ttf") format("truetype"), url("Fonts/83283ab3-e0b7-4898-ba8f-aea49fd1d7f0.svg#83283ab3-e0b7-4898-ba8f-aea49fd1d7f0") format("svg");
}

@font-face {
  font-family: "Humanist_521 W03 Bd";
  src: url("Fonts/48032904-0834-4269-a2db-586fa3452101-.eot#iefix");
  src: url("Fonts/48032904-0834-4269-a2db-586fa3452101-.eot#iefix") format("eot"), url("Fonts/86e2775a-0f6b-4883-8c07-5dd6c49a6c7d.woff2") format("woff2"), url("Fonts/c7911637-cdc7-4004-a80f-47d974790ac5.woff") format("woff"), url("Fonts/976443f9-a1ec-4349-9530-e0e5855ab95f.ttf") format("truetype"), url("Fonts/aaa6b9c3-e5f1-4f14-8e67-c5bf928ae33f.svg#aaa6b9c3-e5f1-4f14-8e67-c5bf928ae33f") format("svg");
}

h2 {
  font-family: "CCUpUpAndAway W00 Regular";
  text-transform: uppercase;
  font-size: 56px;
  margin-bottom: 35px;
  text-align: center;
  color: #9e0154;
}

@media (max-width: 61.24em) {
  h2 {
    font-size: 42px;
  }
}

@media (max-width: 46.24em) {
  h2 {
    font-size: 27px;
  }
}

.container {
  text-align: center;
}

.container.left-align {
  text-align: left;
}

.left-align {
  text-align: left;
}

.right-align {
  text-align: right;
}

.purple > .container > * {
  color: #fff;
}

.subheading {
  color: #70625a;
  font-family: "Humanist_521 W01 Light";
  font-size: 27px;
  padding-bottom: 35px;
  text-align: center;
  display: inline-block;
}

.subheading.alt {
  font-family: "CCFaceFront W00 Regular";
  color: #bbcb44;
}

.subheading.alt.blue {
  color: #106da1;
}

.subheading.large {
  font-size: 36px;
}

@media (max-width: 46.24em) {
  .subheading.large {
    font-size: 24px;
  }
}

@media (max-width: 46.24em) {
  .subheading {
    font-size: 18px;
  }
}

p {
  font-family: "Humanist_521 W01 Light";
  font-size: 18px;
  line-height: 28px;
  padding-bottom: 35px;
}

@media (max-width: 46.24em) {
  p {
    font-size: 14px;
    line-height: 18px;
  }
}

.slider-heading {
  font-family: "Humanist_521 W01 Light";
  color: #9e0154;
  font-size: 26px;
  line-height: 1.2;
}

@media (max-width: 46.24em) {
  .slider-heading {
    font-size: 18px;
  }
}

@media (max-width: 46.24em) {
  .mobile-center {
    text-align: center !important;
  }
  .mobile-center p, .mobile-center ul {
    text-align: center !important;
  }
}

.btn {
  display: inline-block;
  font-size: 18px;
  letter-spacing: 0.5px;
  font-family: "Humanist_521 W03 Rom";
  text-transform: uppercase;
  padding: 20px 25px;
  text-decoration: none;
  transition: all 0.1s linear;
  border: 0;
  cursor: pointer;
}

.btn.purple {
  background: #9e0154;
  color: #fff;
  box-shadow: 8px 8px 0px #c3bcb1;
}

.btn.purple:hover {
  box-shadow: 6px 6px 0px #c3bcb1;
  margin-top: 2px;
  margin-left: 4px;
  margin-bottom: -2px;
}

.btn.white {
  background: #fff;
  color: #9e0154;
  box-shadow: 8px 8px 0px #c1b9b4;
}

.btn.white:hover {
  box-shadow: 6px 6px 0px #c1b9b4;
  margin-top: 2px;
  margin-left: 2px;
  margin-bottom: -2px;
}

#sticky-menu {
  position: fixed;
  right: 83px;
  top: 440px;
  font-family: "Humanist_521 W01 Light";
}

@media (max-width: 61.24em) {
  #sticky-menu {
    display: none;
  }
}

#sticky-menu ul {
  padding: 0;
  margin: 0;
}

#sticky-menu ul li {
  background: #bbcb44;
  display: block;
  color: #fff;
  height: 80px;
  transition: all 0.4s ease-in-out;
  border: 1px #fff solid;
  border-right: none;
  position: absolute;
  width: 83px;
  overflow: hidden;
  cursor: pointer;
}

#sticky-menu ul li .sprite {
  display: block;
  height: 53px;
  width: 63px;
  margin: 13px;
  float: right;
  background: url("/img/sticky-sprite.png") no-repeat;
}

#sticky-menu ul li.email .sprite {
  background-position: 7px 0px;
}

#sticky-menu ul li.email:hover {
  width: 188px;
  margin-left: -105px;
}

#sticky-menu ul li.print {
  margin-top: 79px;
}

#sticky-menu ul li.print .sprite {
  background-position: 7px -78px;
}

#sticky-menu ul li.print:hover {
  width: 188px;
  margin-left: -105px;
}

#sticky-menu ul li.bookmark {
  margin-top: 158px;
}

#sticky-menu ul li.bookmark .sprite {
  background-position: 7px -156px;
}

#sticky-menu ul li.bookmark:hover {
  width: 228px;
  margin-left: -145px;
}

#sticky-menu ul li:hover .inline {
  opacity: 1;
  transition: opacity 0.2s ease-out;
  transition-delay: 0.4s;
}

#sticky-menu ul li:nth-child(2) {
  border-top: 1px #fff solid;
  border-bottom: 1px #fff solid;
}

#sticky-menu .inline {
  display: inline-block;
  float: right;
  padding: 31px 0 0;
  opacity: 0;
  transition: opacity 0.2s ease-out;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/*
 * CUSTOM STYLES
 */
.slick-mini .slide {
  position: relative;
  overflow: hidden;
}

.slick-mini .skew {
  font-family: "Humanist_521 W01 Light";
  color: #fff;
  font-weight: 100;
  text-align: left;
  position: absolute;
  -ms-transform: skewX(7deg);
  -moz-transform: skewX(7deg);
  -o-transform: skewX(7deg);
  -webkit-transform: skewX(7deg);
  transform: skewX(7deg);
  top: 0;
  left: -33%;
  bottom: 0;
  width: 80%;
}

@media (max-width: 61.24em) {
  .slick-mini .skew {
    left: -22%;
  }
}

.slick-mini .skew > div {
  font-size: 21px;
  margin-left: 47%;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%) skewX(-7deg);
  -webkit-transform: translateY(-50%) skewX(-7deg);
  -o-transform: translateY(-50%) skewX(-7deg);
  -moz-transform: translateY(-50%) skewX(-7deg);
  transform: translateY(-50%) skewX(-7deg);
}

@media (max-width: 61.24em) {
  .slick-mini .skew > div {
    margin-left: 35%;
  }
  .slick-mini .skew > div .btn {
    font-size: 16px;
    padding: 15px;
  }
}

@media (max-width: 46.24em) {
  .slick-mini .skew > div {
    font-size: 19px;
    width: 60%;
  }
  .slick-mini .skew > div .btn {
    font-size: 14px;
    padding: 15px;
  }
}

.slick-mini .skew > div .text {
  display: block;
  margin-bottom: 20px;
}

.slick-mini .slick-dots {
  text-align: left;
  display: block;
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.slick-mini .slick-dots li {
  display: inline-block;
  cursor: pointer !important;
}

.slick-mini .slick-dots li button {
  border-radius: 50%;
  background: #c8b8b9;
  border: none;
  text-indent: -9999px;
  cursor: pointer !important;
  width: 13px;
  height: 13px;
  margin-right: 5px;
  outline: none;
  padding: 0;
}

.slick-mini .slick-dots li.slick-active button {
  background: #fff;
}

.slick-wide .slide {
  position: relative;
  overflow: hidden;
}

.slick-wide .slide .img {
  height: 370px;
}

@media (max-width: 46.24em) {
  .slick-wide .slide .img {
    height: 297px;
  }
}

.slick-wide .skew {
  font-family: "Humanist_521 W01 Light";
  color: #fff;
  font-weight: 100;
  text-align: left;
  position: absolute;
  -ms-transform: skewX(7deg);
  -webkit-transform: skewX(7deg);
  -o-transform: skewX(7deg);
  -moz-transform: skewX(7deg);
  transform: skewX(7deg);
  top: 0;
  left: -33%;
  bottom: 0;
  width: 70%;
}

@media (max-width: 61.24em) {
  .slick-wide .skew {
    left: -22%;
  }
}

@media (max-width: 46.24em) {
  .slick-wide .skew {
    left: -6%;
  }
}

.slick-wide .skew > div {
  font-size: 21px;
  margin-left: 51%;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%) skewX(-7deg);
  -webkit-transform: translateY(-50%) skewX(-7deg);
  -moz-transform: translateY(-50%) skewX(-7deg);
  -o-transform: translateY(-50%) skewX(-7deg);
  transform: translateY(-50%) skewX(-7deg);
}

@media (max-width: 61.24em) {
  .slick-wide .skew > div {
    margin-left: 35%;
  }
  .slick-wide .skew > div .btn {
    font-size: 16px;
    padding: 15px;
  }
}

@media (max-width: 46.24em) {
  .slick-wide .skew > div {
    font-size: 19px;
    width: 60%;
    margin-left: 20%;
  }
  .slick-wide .skew > div .btn {
    font-size: 12px;
    padding: 15px 13px;
  }
}

.slick-wide .skew > div .text {
  display: block;
  margin-bottom: 20px;
}

.slick-wide .skew > div .text .quote {
  display: block;
  font-size: 21px;
  margin-bottom: 10px;
  padding-right: 40px;
  font-family: "Humanist_521 W01 Light";
}

@media (max-width: 46.24em) {
  .slick-wide .skew > div .text .quote {
    font-size: 16px;
    padding: 0;
  }
}

.slick-wide .skew > div .text .quote-name {
  display: block;
  font-family: "Humanist_521 W03 Rom";
  font-size: 18px;
}

@media (max-width: 46.24em) {
  .slick-wide .skew > div .text .quote-name {
    font-size: 14px;
  }
}

.slick-wide .slick-dots {
  text-align: left;
  display: block;
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.slick-wide .slick-dots li {
  display: inline-block;
  cursor: pointer !important;
}

.slick-wide .slick-dots li button {
  border-radius: 50%;
  background: #c8b8b9;
  border: none;
  text-indent: -9999px;
  cursor: pointer !important;
  width: 13px;
  height: 13px;
  margin-right: 5px;
  outline: none;
  padding: 0;
}

.slick-wide .slick-dots li.slick-active button {
  background: #fff;
}

.slick-events {
  overflow: visible;
  position: relative;
}

@media (max-width: 61.24em) {
  .slick-events {
    width: 100%;
  }
}

.slick-events p {
  display: block;
  width: 294px;
  margin: 0 auto 15px;
  font-size: 18px;
  line-height: 1.2;
  padding: 0;
}

@media (max-width: 46.24em) {
  .slick-events p {
    width: 100%;
    font-size: 14px;
  }
}

.slick-events .slider-heading {
  margin: 15px 0;
}

@media (max-width: 46.24em) {
  .slick-events .slider-heading {
    font-size: 18px;
  }
}

.slick-events .slide {
  font-family: "Humanist_521 W03 Rom";
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: #fff;
  color: #333;
  margin-left: 20px;
  outline: none;
  overflow: hidden;
  width: 40%;
  padding: 10px;
}

@media (max-width: 61.24em) {
  .slick-events .slide {
    margin: 0 15px;
  }
}

.slick-events .slide hr {
  border-top: 1px #d2cbc3 solid;
  border-bottom: transparent;
}

.slick-events .slide .img-holder {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  position: relative;
}

.slick-events .slide .date {
  background: #0f6da1;
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 7px 14px;
  -moz-border-border-bottom-left-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
  -moz-border-border-top-right-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
}

.slick-events .slide .date span:first-child {
  font-size: 30px;
}

.slick-events .slide .date span:last-child {
  font-size: 17px;
  text-transform: uppercase;
}

.slick-events .slide img {
  width: 100%;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.slick-events .slide .read-more {
  float: left;
  line-height: 47px;
  margin-right: 5px;
  font-weight: 500;
  color: #9e0154;
}

.slick-events .slide .social {
  margin-top: 5px;
}

.slick-events .slide .social a {
  color: #bbcb44;
}

.slick-events .slide .social a:last-child {
  color: #0f6da1;
}

.slick-events .slide .social .share {
  float: left;
  line-height: 40px;
  margin-right: 5px;
  font-weight: 500;
  color: #9e0154;
}

.slick-events .control-c {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 10;
}

.slick-events .slick-next {
  background-position: -25px 0px;
  right: -50px;
}

.slick-events .slick-prev {
  left: -30px;
}

.slick-events .slick-dots {
  text-align: left;
  display: block;
  position: absolute;
  bottom: -35px;
  left: 20px;
  right: 20px;
  text-align: center;
}

.slick-events .slick-dots li {
  display: inline-block;
  cursor: pointer !important;
}

.slick-events .slick-dots li button {
  border-radius: 50%;
  background: #c8b8b9;
  border: none;
  text-indent: -9999px;
  cursor: pointer !important;
  width: 13px;
  height: 13px;
  margin-right: 5px;
  outline: none;
  padding: 0;
}

.slick-events .slick-dots li.slick-active button {
  background: #fff;
}

.slick-news {
  overflow: visible;
  position: relative;
}

.slick-news p {
  display: block;
  width: 294px;
  margin: 0 auto 15px;
  font-size: 18px;
  line-height: 1.2;
  padding: 0;
}

@media (max-width: 46.24em) {
  .slick-news p {
    width: 100%;
    font-size: 14px;
  }
}

.slick-news .slider-heading {
  margin: 15px 0;
}

@media (max-width: 46.24em) {
  .slick-news .slider-heading {
    font-size: 18px;
  }
}

.slick-news .slide {
  font-family: "Humanist_521 W03 Rom";
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: #fff;
  margin: 0 10px;
  outline: none;
  overflow: hidden;
  width: 40%;
  padding: 10px;
}

.slick-news .slide hr {
  border-top: 1px #d2cbc3 solid;
  border-bottom: transparent;
}

.slick-news .slide .img-holder {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  position: relative;
}

.slick-news .slide .date {
  background: #4f6476;
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px 14px;
  -moz-border-border-bottom-left-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
  -moz-border-border-top-right-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
}

.slick-news .slide .date span:first-child {
  font-size: 16px;
  text-transform: uppercase;
}

.slick-news .slide img {
  width: 100%;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.slick-news .slide .read-more {
  float: left;
  line-height: 47px;
  margin-right: 5px;
  font-weight: 500;
  color: #9e0154;
}

.slick-news .slide .social {
  margin-top: 5px;
}

.slick-news .slide .social a {
  color: #bbcb44;
}

.slick-news .slide .social a:last-child {
  color: #0f6da1;
}

.slick-news .slide .social .share {
  float: left;
  line-height: 40px;
  margin-right: 5px;
  font-weight: 500;
  color: #9e0154;
}

.slick-news .control-c {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 10;
}

.slick-news .slick-next {
  background-position: -25px -43px;
  right: -30px;
}

.slick-news .slick-prev {
  background-position: 0px -43px;
  left: -30px;
}

.slick-news .slick-dots {
  text-align: left;
  display: block;
  position: absolute;
  bottom: -35px;
  left: 20px;
  right: 20px;
  text-align: center;
}

.slick-news .slick-dots li {
  display: inline-block;
  cursor: pointer !important;
}

.slick-news .slick-dots li button {
  border-radius: 50%;
  background: #beb7b1;
  border: none;
  text-indent: -9999px;
  cursor: pointer !important;
  width: 13px;
  padding: 0;
  height: 13px;
  margin-right: 5px;
  outline: none;
}

.slick-news .slick-dots li.slick-active button {
  background: #9e0154;
}

.control-c {
  width: 25px;
  height: 45px;
  background: url("/img/carousel-arrows.png");
  cursor: pointer !important;
}

/* Plugin styles */
.social-header {
  text-align: left;
  color: #fff;
  margin: 0 20px;
  padding: 15px;
  font-family: "CCFaceFront W00 Regular";
  font-weight: 100;
}

.social-header .title {
  font-size: 22px;
  padding: 11px 5px;
  display: inline-block;
}

.social-header .fa-stack {
  float: left;
  display: block;
}

.social-header .social-link {
  background-image: url("/img/sticky-sprite.png");
  background-position: -327px -169px;
  display: block;
  float: right;
  margin-top: 3px;
  height: 37px;
  width: 37px;
}

.social-header.facebook {
  background-color: #bccd43;
}

.social-header.facebook .fa-inverse {
  color: #bccd43;
}

.social-header.twitter {
  background-color: #0f6da1;
}

.social-header.twitter .fa-inverse {
  color: #0f6da1;
}

.social-feed-container {
  margin-top: 50px;
}

.social-feed-element.hidden {
  background-color: red !important;
}

.social-feed-element .pull-left {
  float: left;
}

.social-feed-element .pull-right {
  margin-left: 10px;
}

.social-feed-element img {
  width: 100%;
  width: auto\9;
  height: auto;
  border: 0;
  width: 100%;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}

.social-feed-element .attachment {
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}

/* Link styles */
.facebook-block a {
  color: #bccd43;
  font-family: "Humanist_521 W03 Rom";
  text-decoration: none;
}

.facebook-block a:focus {
  outline: thin dotted #9faf2e;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.facebook-block a:hover,
.facebook-block a:active {
  outline: 0;
  color: #9faf2e;
  text-decoration: underline;
}

.twitter-block a {
  color: #0f6da1;
  font-family: "Humanist_521 W03 Rom";
  text-decoration: none;
}

.twitter-block a:focus {
  outline: thin dotted #0b4d72;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.twitter-block a:hover,
.twitter-block a:active {
  outline: 0;
  color: #0b4d72;
  text-decoration: underline;
}

/* Text styles */
.social-feed-element small {
  font-size: 85%;
}

.social-feed-element strong {
  font-weight: bold;
}

.social-feed-element em {
  font-style: italic;
}

.social-feed-element p {
  margin: 0 0 10px;
  padding: 0;
}

.social-feed-element .media-body > p {
  margin-bottom: 4px;
  min-height: 20px;
}

.social-feed-element p.social-feed-text {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

/* Message styles */
.social-feed-element,
.social-feed-element .media-body {
  overflow: hidden;
  zoom: 1;
  *overflow: visible;
}

.social-feed-element .media-body .social-network-icon {
  margin-top: -3px;
  margin-right: 5px;
  width: 16px;
}

.social-feed-element .media-body div {
  color: #666;
  line-height: 20px;
}

.social-feed-element:first-child {
  margin-top: 0;
}

.social-feed-element .media-object {
  display: block;
  width: 48px;
  border-radius: 50%;
  background: #fff;
}

.social-feed-element .media-heading {
  margin: 0 0 5px;
}

.social-feed-element .media-list {
  margin-left: 0;
  list-style: none;
}

.social-feed-element .muted {
  color: #999;
}

.social-feed-element a.muted:hover,
.social-feed-element a.muted:focus {
  color: #9d0054;
}

.social-feed-element {
  transition: 0.25s;
  -webkit-backface-visibility: hidden;
  background-color: #fff;
  color: #333;
  text-align: left;
  font-size: 14px;
  font-family: "Humanist_521 W01 Light";
  line-height: 16px;
  margin: 0 20px;
  float: right;
  padding: 15px 20px;
}

.social-feed-element:first-child {
  float: left;
}

.social-feed-element .social-network-icon {
  opacity: 0.7;
}

.social-feed-element .author-title {
  color: #444;
  line-height: 1.5em;
  font-weight: 500;
}

.social-feed-element .media-object {
  display: block;
  width: 66px;
  padding: 5px;
  border-radius: 50%;
  border: 1px #d3ccc4 solid;
}

.social-feed-element .author-title {
  font-weight: 600;
  color: #9d0054;
  font-family: "Humanist_521 W03 Rom";
}

.bg-white .social-feed-element {
  background: #e9e4da;
}

@media screen and (max-width: 767px) {
  .social-feed-element {
    width: auto;
    margin-bottom: 20px;
  }
  .social-feed-element p.social-feed-text {
    padding: 10px 0 0;
    width: 100%;
    display: block;
  }
  .social-feed-element, .social-feed-element .media-body {
    overflow: hidden;
    zoom: 1;
    width: auto;
    display: inline;
  }
  .social-feed-element img {
    float: none;
  }
  .author-title, .muted.pull-right {
    display: block;
    float: none !important;
    margin-left: 65px;
  }
  .author-title {
    margin-top: 10px;
  }
}

input {
  outline: none;
}

.custom_select {
  font-family: "Humanist_521 W03 Rom";
}

.filters {
  border-top: 1px #ccc solid;
  border-bottom: 1px #ccc solid;
  margin-bottom: 50px;
}

.filters label {
  font-family: "Humanist_521 W03 Bd";
  float: left;
  margin-right: 10px;
  margin-bottom: 0;
  line-height: 42px;
}

@media (max-width: 46.24em) {
  .filters label {
    width: 100%;
  }
}

.filters .option {
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.filters > div {
  float: left;
  padding: 15px;
}

.filters .custom_select {
  border: 1px #ccc solid;
  width: 71%;
  margin: 0;
  font-size: 16px;
}

@media (max-width: 46.24em) {
  .filters .custom_select {
    width: 100%;
  }
}

.filters .custom_select .option_title {
  padding: 12px;
}

.filters .custom_select .option_title .arrow {
  top: 13px !important;
}

@media (max-width: 46.24em) {
  .filters .col-4.dropdown {
    width: 100%;
    margin-bottom: 0;
  }
}

.form-button-error {
  background: #c71414;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  clear: both;
  padding: 5px;
  color: #fff;
  width: 170px;
  margin-top: 120px;
  width: 100%;
  text-align: center;
}

.form-button-error p {
  padding: 0;
  font-size: 14px;
}

.jotform-form {
  font-family: "Humanist_521 W03 Rom";
}

.jotform-form .custom_select {
  margin: 0 20px 0 0;
  width: 100%;
  font-size: 18px;
  color: #333;
  text-align: left;
  font-family: "Humanist_521 W01 Light";
}

.jotform-form .custom_select .select_opts {
  background-color: #FFF;
}

.jotform-form .custom_select .option_title {
  padding: 9px 15px;
  color: #B9B9B6;
}

.jotform-form .custom_select .option {
  background: #f3f3f3;
  padding: 11px 15px;
}

.jotform-form .custom_select .option_title {
  padding-right: 30px;
  background-color: #FFF;
  font-size: 14px;
}

.jotform-form .custom_select .option {
  border-top: 1px solid #b4aa9b;
}

.jotform-form .custom_select .option:last-child {
  border-bottom: 1px solid #b4aa9b;
}

.jotform-form .custom_select .option:hover {
  background-color: #ECECEC;
}

.jotform-form .custom_select .option.current {
  color: #333;
  background-color: #ECECEC;
}

.jotform-form .custom_select .option_title::selection {
  background-color: transparent;
}

.jotform-form .custom_select .option_title::-moz-selection {
  background-color: transparent;
}

.jotform-form .custom_select .arrow {
  width: 0;
  height: 0;
  right: 20px !important;
  top: 10px !important;
  font-family: "FontAwesome";
  content: "\f107";
  color: #333;
}

.jotform-form .custom_select .arrow:before {
  font-family: "FontAwesome";
  content: "\f107";
  float: left;
}

.jotform-form .col-6.overflow {
  overflow: visible;
  width: 48%;
}

@media (max-width: 46.24em) {
  .jotform-form .col-6.overflow {
    width: 100%;
  }
}

.jotform-form .btn {
  padding: 15px 35px;
}

@media (max-width: 46.24em) {
  .jotform-form .btn {
    width: 100%;
  }
}

.jotform-form .pull-right {
  padding-right: 10px;
  padding-top: 20px;
}

@media (max-width: 46.24em) {
  .jotform-form .pull-right {
    width: 98%;
  }
}

.jotform-form hr {
  margin-top: 120px;
  margin-bottom: 50px;
  border-top: 1px #c4bbad solid;
  border-bottom: transparent;
}

@media (max-width: 46.24em) {
  .jotform-form hr {
    margin-top: 100px;
    margin-bottom: 30px;
  }
}

.jotform-form .subheading {
  text-align: center;
  font-size: 25px;
}

@media (max-width: 46.24em) {
  .jotform-form .subheading {
    font-size: 18px;
    padding-bottom: 15px;
  }
}

.dropdown {
  overflow: visible;
}

@media (max-width: 46.24em) {
  .dropdown {
    margin-bottom: 40px;
  }
}

@media (max-width: 46.24em) {
  .col-6 {
    width: 100%;
  }
  h2 {
    margin-bottom: 15px;
  }
}

.form-textbox {
  display: block;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  font-size: 14px;
  border-radius: 0px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.jotform-form input, .jotform-form textarea {
  width: 100%;
  border: none;
  font-family: "Humanist_521 W01 Light";
  font-size: 14px;
  box-sizing: border-box;
  margin-bottom: 22px;
}

@media (max-width: 46.24em) {
  .jotform-form input, .jotform-form textarea {
    margin-bottom: 16px;
  }
}

.jotform-form textarea {
  height: 106px;
  padding: 6px 12px;
  margin-bottom: 18px;
}

@media (max-width: 46.24em) {
  .jotform-form textarea {
    margin-bottom: 16px;
  }
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 400;
}

.registerform {
  text-align: left;
  margin-top: 19px;
}

@media (max-width: 46.24em) {
  .registerform {
    margin-top: 0;
  }
}

.custom_select {
  float: left;
  margin: 20px 20px 0 0;
  width: 100%;
  font-size: 18px;
  color: #333;
  text-align: left;
}

.select_opts {
  background-color: #FFF;
}

.option_title {
  padding: 21px 20px;
}

.option {
  background: #f3f3f3;
  padding: 11px 20px;
}

.option_title {
  padding-right: 30px;
  background-color: #FFF;
}

.option {
  border-top: 1px solid #b4aa9b;
}

.option:last-child {
  border-bottom: 1px solid #b4aa9b;
}

.option:hover {
  background-color: #ECECEC;
}

.option.current {
  color: #333;
  background-color: #ECECEC;
}

.option_title::selection {
  background-color: transparent;
}

.option_title::-moz-selection {
  background-color: transparent;
}

.arrow {
  width: 0;
  height: 0;
  right: 30px !important;
  top: 22px !important;
  font-family: "FontAwesome";
  content: "\f107";
  color: #333;
}

.arrow:before {
  font-family: "FontAwesome";
  content: "\f107";
  float: left;
}

.col-6 .form-error-message {
  background: #c71414;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 5px;
  color: #fff;
  font-size: 14px;
  width: 170px;
  margin-top: -10px;
}

.col-6 .form-error-message img {
  width: 16px;
  float: left;
}

.col-6 .form-error-message:before {
  content: ' ';
  border-top: 0px transparent solid;
  border-left: 10px transparent solid;
  border-right: 10px transparent solid;
  border-bottom: 10px #c71414 solid;
  width: 0px;
  position: absolute;
  margin-top: -15px;
  margin-left: -15px;
}

.form-validation-error {
  box-shadow: inset 0px 0px 0px 2px #C71414;
}

input[type="checkbox"] {
  display: none;
}

.checkboxes label {
  cursor: pointer;
  position: relative;
  width: 30px;
  height: 30px;
  margin: 0px 10px 10px 0;
  background: #fff;
  transition: all .3s ease-in-out;
  font-size: 12pt;
  color: #9e0154;
  float: left;
  font-smoothing: antialiased;
}

.checkboxes label .fa {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transform: scale(0);
  transition: all .3s ease-in-out;
  line-height: 30px;
  text-align: center;
}

.checkboxes input:checked + label {
  background: shade(#9e0154, 15%);
}

.checkboxes input:checked + label .fa {
  opacity: 1;
  transform: scale(1);
}

.checkboxes p {
  font-size: 14px;
  line-height: normal;
}

#top {
  padding: 27px 0;
}

@media (max-width: 46.24em) {
  #top {
    padding: 27px 0 0;
  }
}

#top-links {
  font-family: "Humanist_521 W03 Rom";
}

#top-links a {
  color: #bbcb44;
}

#top-links a:last-child {
  color: #0f6da1;
}

#top-links .social > span {
  display: inline-block;
  float: left;
  padding: 14px 14px 0 0;
  color: #70625a;
}

#top-links .tel {
  clear: both;
}

#top-links .tel span {
  float: left;
}

#top-links .tel a {
  color: #9e0154;
}

#top-links .tel .icon {
  background-image: url("/img/sticky-sprite.png");
  background-repeat: no-repeat;
  background-position: -99px -159px;
  display: inline-block;
  width: 52px;
  height: 52px;
}

@media (max-width: 46.24em) {
  #top-links .tel .icon {
    background-position: -26px -79px;
    width: 52px;
    background-size: 190px;
    height: 52px;
  }
}

#top-links .tel .number {
  display: inline-block;
  padding: 9px 0px 0 14px;
  text-align: right;
  font-size: 32px;
  color: #9e0154;
}

@media (max-width: 46.24em) {
  #top-links .tel .number {
    font-size: 18px;
    padding: 9px 0px 0 6px;
  }
}

#logo {
  display: inline-block;
  transition: 0.15s ease-in;
}

#logo:hover {
  opacity: 0.7;
}

@media (max-width: 46.24em) {
  #logo {
    width: 130px;
  }
  #logo img {
    width: 100%;
  }
}

.purple {
  background: #9e0154;
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: translate(0px, 2px) rotate(5deg);
  }
  10% {
    -webkit-transform: translate(0px, -2px) rotate(-5deg);
  }
  20% {
    -webkit-transform: translate(0px, 2px) rotate(5deg);
  }
  30% {
    -webkit-transform: translate(0px, -2px) rotate(-5deg);
  }
  40% {
    -webkit-transform: translate(0px, 2px) rotate(5deg);
  }
}

#main-nav {
  font-family: "Humanist_521 W01 Light";
  line-height: normal;
  font-size: 18px;
  height: 50px;
}

#main-nav ul {
  padding: 0;
  margin: 0;
  float: left;
  height: 50px;
}

#main-nav ul li {
  display: block;
  height: 50px;
  float: left;
  transition: 0.1s ease-in;
}

#main-nav ul li a {
  display: inline-block;
  padding: 14px 10px;
}

#main-nav ul li:hover {
  background-color: #7d0047;
}

#main-nav ul li.home {
  background-image: url("/img/sticky-sprite.png");
  background-repeat: no-repeat;
  background-position: -108px 7px;
}

#main-nav ul li.home a {
  display: inline-block;
  height: 50px;
  width: 50px;
  text-indent: -9999px;
  padding: 7px 10px;
}

#main-nav ul.secondary {
  font-family: "CCUpUpAndAway W00 Regular";
  font-size: 14px;
  text-transform: uppercase;
}

#main-nav ul.secondary li {
  -ms-transform: skewX(5deg);
  -webkit-transform: skewX(5deg);
  -moz-transform: skewX(5deg);
  transform: skewX(5deg);
  -webkit-backface-visibility: hidden;
}

#main-nav ul.secondary li a {
  padding: 17px 10px;
  -ms-transform: skewX(-5deg);
  -webkit-transform: skewX(-5deg);
  -moz-transform: skewX(-5deg);
  -o-transform: skewX(-5deg);
  transform: skewX(-5deg);
}

#main-nav ul.secondary .green-item {
  background: #bbcb44;
}

@media (max-width: 46.24em) {
  #main-nav ul.secondary .green-item {
    margin-right: 4px;
  }
}

#main-nav ul.secondary .blue-item {
  background: #106da1;
  -webkit-animation-name: shake;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: 2;
  -webkit-animation-name: shake;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: shake;
  -moz-animation-duration: 1s;
  -moz-animation-iteration-count: 2;
  -moz-animation-name: shake;
  -moz-animation-timing-function: linear;
}

@media (max-width: 46.24em) {
  #main-nav {
    padding: 0;
  }
}

#main-nav .mobile-opener {
  display: none;
}

@media (max-width: 61.24em) {
  #main-nav .mobile-opener {
    display: block;
    background-image: url("/img/nav-opener.png");
    background-size: 35px;
    background-repeat: no-repeat;
    background-position: 45% 45%;
    float: left;
    width: 35px;
    padding: 25px 35px;
    height: 35px;
  }
  #main-nav .mobile-opener.open {
    background-color: #6d003e;
  }
}

@media (min-width: 46.25em) and (max-width: 61.24em) {
  #main-nav .mobile-opener {
    margin-left: -10px;
  }
}

@media (max-width: 61.24em) {
  #main-nav .primary {
    display: none;
    position: absolute;
    border: 1px #e9e4da solid;
    left: -1px;
    top: 199px;
    height: auto;
  }
  #main-nav .primary li {
    float: none;
    background: #fff;
    text-align: left;
  }
  #main-nav .primary li a {
    color: #9e0154;
    padding: 14px 15px;
  }
  #main-nav .primary li.home {
    display: none;
  }
}

@media (max-width: 46.24em) {
  #main-nav .primary {
    top: 172px;
  }
}

#hero {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 500px;
}

@media (max-width: 61.24em) {
  #hero {
    width: 100%;
    height: 316px;
  }
}

@media (max-width: 46.24em) {
  #hero {
    height: 155px;
  }
}

.overlap-fix {
  margin-top: 425px;
  padding-bottom: 85px;
}

.overlap-fix#footer {
  padding-bottom: 0;
}

@media (max-width: 46.24em) {
  .overlap-fix#footer {
    margin-top: 245px;
  }
}

@media (max-width: 61.24em) {
  .overlap-fix {
    padding-bottom: 0px;
    margin-top: 285px;
  }
}

@media (max-width: 46.24em) {
  .overlap-fix {
    margin-top: 165px;
  }
}

* {
  box-sizing: border-box;
}

.slanted-top.overlap-fix {
  margin-top: 200px;
}

@media (max-width: 61.24em) {
  .slanted-top.overlap-fix {
    margin-top: 40px;
  }
}

@media (min-width: 46.25em) {
  .slanted-top.slanted-bottom.overlap-fix {
    margin-top: 200px;
  }
}

@media (max-width: 46.24em) {
  .slanted-top.slanted-bottom.overlap-fix {
    top: 160px;
  }
}

.white.overlap-fix {
  margin-top: 425px;
  padding-bottom: 80px;
}

@media (max-width: 46.24em) {
  .white.overlap-fix {
    margin-top: 130px;
  }
}

.white.overlap-fix-2 {
  margin-top: 280px;
}

@media (min-width: 61.25em) {
  .white.overlap-fix-2 {
    padding-bottom: 80px;
  }
}

@media (max-width: 46.24em) {
  .white.overlap-fix-2 {
    margin-top: 30px;
  }
}

.slanted-bottom.overlap-fix {
  margin-top: 0;
}

@media (max-width: 61.24em) {
  .slanted-bottom.overlap-fix {
    margin-top: -40px;
    top: 40px;
  }
}

.slanted-top, .slanted-bottom {
  position: relative;
  top: 200px;
  width: 100%;
  text-align: center;
}

.slanted-top.purple, .slanted-bottom.purple {
  background: #9e0154;
}

.slanted-top.purple:before, .slanted-top.purple:after, .slanted-bottom.purple:before, .slanted-bottom.purple:after {
  background: #9e0154;
}

.slanted-top.sand, .slanted-bottom.sand {
  background: #e2dbd0;
}

.slanted-top.sand:before, .slanted-top.sand:after, .slanted-bottom.sand:before, .slanted-bottom.sand:after {
  background: #e2dbd0;
}

.slanted-top.light-sand, .slanted-bottom.light-sand {
  background: #f0ede8;
}

.slanted-top.light-sand:before, .slanted-top.light-sand:after, .slanted-bottom.light-sand:before, .slanted-bottom.light-sand:after {
  background: #f0ede8;
}

@media (max-width: 61.24em) {
  .slanted-bottom {
    top: 170px;
  }
}

.amazing-tiles .rounded {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  width: 100%;
}

.amazing-tiles .col-4 {
  position: relative;
  box-sizing: border-box;
  padding: 0 10px;
}

@media (max-width: 46.24em) {
  .amazing-tiles .col-4 {
    width: 100%;
    margin-bottom: 10px;
  }
}

.amazing-tiles .col-4 a {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  position: absolute;
  top: 0;
  bottom: 3px;
  left: 9px;
  right: 9px;
  background: rgba(0, 0, 0, 0.2);
}

.amazing-tiles .col-4 a .circle {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 153px;
  padding: 30px 0;
  position: absolute;
  left: 50%;
  top: 50%;
  letter-spacing: 1.5px;
  transition: .25s ease;
  font-family: "CCFaceFront W00 Regular";
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@media (max-width: 61.24em) {
  .amazing-tiles .col-4 a .circle {
    width: 125px;
    padding: 20px 0;
  }
}

@media (max-width: 46.24em) {
  .amazing-tiles .col-4 a .circle {
    width: 125px;
    padding: 22px 0;
  }
}

.amazing-tiles .col-4 a .circle.donate {
  background-color: #0f6da1;
}

.amazing-tiles .col-4 a .circle.organise {
  background-color: #bccd43;
}

.amazing-tiles .col-4 a .circle.find {
  background-color: #4f6475;
}

.amazing-tiles .col-4 a .circle .icon {
  background-image: url("/img/sticky-sprite.png");
  display: block;
  height: 50px;
  width: 50px;
  margin: 0 auto 10px;
}

@media (max-width: 61.24em) {
  .amazing-tiles .col-4 a .circle .icon {
    height: 40px;
    width: 40px;
  }
}

.amazing-tiles .col-4 a .circle .icon.donate {
  background-position: -250px -159px;
}

@media (max-width: 61.24em) {
  .amazing-tiles .col-4 a .circle .icon.donate {
    background-position: -160px -100px;
    background-size: 240px;
  }
}

.amazing-tiles .col-4 a .circle .icon.organise {
  background-position: -250px -98px;
}

@media (max-width: 61.24em) {
  .amazing-tiles .col-4 a .circle .icon.organise {
    background-position: -160px -61px;
    background-size: 240px;
  }
}

.amazing-tiles .col-4 a .circle .icon.find {
  background-position: -250px -37px;
}

@media (max-width: 61.24em) {
  .amazing-tiles .col-4 a .circle .icon.find {
    background-position: -160px -20px;
    background-size: 240px;
  }
}

.amazing-tiles .col-4 a:hover .circle.donate {
  background-color: rgba(15, 109, 161, 0.8);
}

.amazing-tiles .col-4 a:hover .circle.organise {
  background-color: rgba(188, 205, 67, 0.8);
}

.amazing-tiles .col-4 a:hover .circle.find {
  background-color: rgba(79, 100, 117, 0.8);
}

.brand-image {
  margin: 32px 0 22px;
}

@media (max-width: 61.24em) {
  .brand-image {
    float: left;
  }
  .brand-image.social {
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 46.24em) {
  .brand-image {
    width: 100%;
    text-align: center;
  }
}

.slanted-top:before {
  content: '';
  position: absolute;
  left: 0;
  top: -101px;
  width: 100%;
  height: 210px;
  z-index: -1;
  -webkit-transform: skewY(-4.5deg);
  -moz-transform: skewY(-4.5deg);
  -ms-transform: skewY(-4.5deg);
  -o-transform: skewY(-4.5deg);
  transform: skewY(-4.5deg);
  -webkit-backface-visibility: hidden;
  position: absolute;
}

@media (max-width: 46.24em) {
  .slanted-top:before {
    top: -40px;
  }
}

.no-slant {
  color: #fff;
  position: relative;
  top: 200px;
  margin-top: -200px;
  padding: 35px 0;
}

.no-slant .col-4 {
  box-sizing: border-box;
  padding: 15px;
}

.no-slant p, .no-slant ul, .no-slant span, .no-slant .col-4 {
  font-family: "Humanist_521 W01 Light";
  text-align: left;
  line-height: normal;
  padding-bottom: 15px;
  font-size: 16px;
}

.no-slant ul {
  list-style: disc;
  list-style-position: inside;
}

.no-slant span {
  font-family: "Humanist_521 W03 Rom";
}

.no-slant .subheading {
  font-size: 36px;
  margin-top: 32px;
}

@media (max-width: 46.24em) {
  .no-slant .subheading {
    margin-top: 0;
  }
}

.no-slant a {
  text-decoration: underline;
}

.no-slant a.btn {
  text-decoration: none;
}

@media (max-width: 61.24em) {
  .no-slant {
    margin-top: -200px;
  }
}

.slanted-bottom {
  background: #00bcd4;
  position: relative;
  padding-top: 80px;
}

@media (max-width: 61.24em) {
  .slanted-bottom {
    padding-top: 40px;
  }
}

.slanted-bottom:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -101px;
  width: 100%;
  height: 210px;
  z-index: -1;
  -webkit-backface-visibility: hidden;
  -webkit-transform: skewY(-4.5deg);
  -moz-transform: skewY(-4.5deg);
  -ms-transform: skewY(-4.5deg);
  -o-transform: skewY(-4.5deg);
  transform: skewY(-4.5deg);
  position: absolute;
}

@media (max-width: 46.24em) {
  .slanted-bottom:after {
    bottom: -40px;
  }
}

.slanted-top {
  padding-bottom: 85px;
}

@media (max-width: 61.24em) {
  .slanted-top {
    padding-bottom: 50px;
  }
}

@media (max-width: 46.24em) {
  .slanted-top {
    top: 0px;
    margin-top: -0px;
  }
}

.buckets {
  margin-bottom: 55px;
  overflow: hidden;
}

.buckets .col-4 {
  background-color: #f0ede8;
  border-radius: 10px;
  box-sizing: border-box;
  margin: 0 1%;
  padding: 20px;
  text-align: left;
  width: 32%;
}

.buckets .col-4 p {
  line-height: normal;
  padding: 0 0 0 74px;
}

@media (max-width: 61.24em) {
  .buckets .col-4 p {
    text-align: center;
    padding: 10px;
  }
}

@media (max-width: 46.24em) {
  .buckets .col-4 p {
    padding-left: 74px;
    padding-right: 0;
  }
}

.buckets .col-4:first-child {
  margin-left: 0;
}

.buckets .col-4:last-child {
  margin-right: 0;
}

@media (max-width: 61.24em) {
  .buckets .col-4 {
    text-align: center;
  }
}

@media (max-width: 46.24em) {
  .buckets .col-4 {
    width: 100%;
    margin-bottom: 10px;
  }
}

.buckets.white .col-4 {
  background-color: #fff;
}

.buckets .circle {
  background-color: #bbcb44;
  border-radius: 50%;
  color: #fff;
  width: 64px;
  padding: 17px 0 11px;
  text-align: center;
  font-family: "CCUpUpAndAway W00 Regular";
  font-size: 36px;
  float: left;
}

.buckets .circle.blue {
  background-color: #106da1;
}

@media (min-width: 46.25em) and (max-width: 61.24em) {
  .buckets .circle {
    float: none;
    display: inline-block;
  }
}

.col-6 img {
  width: 100%;
}

.overlay {
  position: relative;
}

.overlay a {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  text-align: center;
  color: #bbcb44;
  transition: 0.15s ease-in;
}

.overlay a i {
  position: absolute;
  top: 50%;
  font-size: 72px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0;
  left: 0;
}

.overlay a:hover {
  opacity: 0.8;
}

.events-list .events-list-item {
  margin-bottom: 50px;
  font-family: "Humanist_521 W03 Rom";
  padding: 0 10px;
  box-sizing: border-box;
}

.events-list .events-list-item .slider-heading {
  margin: 15px 0;
}

.events-list .events-list-item hr {
  border-top: 1px #d2cbc3 solid;
  border-bottom: transparent;
}

.events-list .events-list-item .img-holder {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  position: relative;
}

.events-list .events-list-item .date {
  background: #0f6da1;
  color: #fff;
  position: absolute;
  bottom: 3px;
  left: 0;
  padding: 7px 14px;
  -moz-border-border-bottom-left-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
  -moz-border-border-top-right-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
}

.events-list .events-list-item .date span {
  display: block;
}

.events-list .events-list-item .date span:first-child {
  font-size: 30px;
}

.events-list .events-list-item .date span:last-child {
  font-size: 17px;
  text-transform: uppercase;
}

.events-list .events-list-item img {
  width: 100%;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.events-list .events-list-item .read-more {
  float: left;
  line-height: 47px;
  margin-right: 5px;
  font-weight: 500;
  color: #9e0154;
}

.events-list .events-list-item .social {
  margin-top: 5px;
}

.events-list .events-list-item .social a {
  color: #bbcb44;
}

.events-list .events-list-item .social a:last-child {
  color: #0f6da1;
}

.events-list .events-list-item .social .share {
  float: left;
  line-height: 40px;
  margin-right: 5px;
  font-weight: 500;
  color: #9e0154;
}

.circles {
  text-align: center;
  margin: 10px 0 40px;
}

.circles a .circle {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 153px;
  padding: 29px 0;
  display: inline-block;
  margin: 0 5px;
  letter-spacing: 1.5px;
  transition: .25s ease;
  font-family: "CCFaceFront W00 Regular";
}

@media (max-width: 46.24em) {
  .circles a .circle {
    width: 120px;
    padding: 18px 0;
  }
}

.circles a .circle.faq, .circles a .circle.giving {
  background-color: #0f6da1;
}

.circles a .circle.contact, .circles a .circle.why, .circles a .circle.sponsor {
  background-color: #bccd43;
}

.circles a .circle.tel, .circles a .circle.find, .circles a .circle.load, .circles a .circle.fundraising-pack {
  background-color: #4f6475;
}

.circles a .circle.load {
  padding: 38px 0;
}

@media (max-width: 46.24em) {
  .circles a .circle.load {
    padding: 38px 0 16px;
  }
}

.circles a .circle .icon {
  background-image: url("/img/sticky-sprite.png");
  display: block;
  height: 50px;
  width: 50px;
  margin: 0 auto 10px;
}

.circles a .circle .icon.faq {
  background-position: 180px -98px;
}

.circles a .circle .icon.why {
  background-position: -186px 173px;
}

.circles a .circle .icon.find {
  background-position: -250px -37px;
}

.circles a .circle .icon.load {
  background-position: -185px -158px;
  margin: 10px auto 0;
}

.circles a .circle .icon.fundraising-pack {
  background-position: 239px -97px;
}

.circles a .circle .icon.sponsor {
  background-position: 180px -98px;
}

.circles a .circle .icon.giving {
  background-position: 232px -44px;
}

.circles a .circle .icon.tel {
  background-position: -313px -37px;
}

.circles a .circle .icon.contact {
  background-position: -312px -96px;
}

@media (max-width: 46.24em) {
  .circles a .circle .icon {
    width: 40px;
    height: 40px;
    background-size: 270px;
  }
  .circles a .circle .icon.sponsor, .circles a .circle .icon.faq {
    background-position: 129px -66px;
    background-size: 260px;
  }
  .circles a .circle .icon.why {
    background-position: 129px -22px;
    background-size: 260px;
  }
  .circles a .circle .icon.find {
    background-position: -175px -22px;
    background-size: 260px;
  }
  .circles a .circle .icon.load {
    background-position: -135px -116px;
  }
  .circles a .circle .icon.tel {
    background-position: -230px -25px;
  }
  .circles a .circle .icon.fundraising-pack {
    background-position: -93px -70px;
  }
  .circles a .circle .icon.giving {
    background-position: 443px -31px;
  }
  .circles a .circle .icon.contact {
    background-position: -229px -69px;
  }
}

.circles a:hover .circle.faq {
  background-color: rgba(15, 109, 161, 0.8);
}

.circles a:hover .circle.why {
  background-color: rgba(188, 205, 67, 0.8);
}

.circles a:hover .circle.find {
  background-color: rgba(79, 100, 117, 0.8);
}

.pagination .grey {
  margin-top: 30px;
  color: #c3bcb1;
  font-family: "Humanist_521 W03 Rom";
  margin-bottom: 30px;
  text-transform: uppercase;
  font-size: 18px;
}

.pagination .buttons {
  position: relative;
  display: inline-block;
  width: 300px;
}

.pagination .buttons a {
  margin: 0 10px 0 0;
  float: left;
}

.pagination .buttons a:last-child {
  float: right;
}

.pagination .buttons a:last-child:hover {
  margin-right: 8px;
}

.pagination .buttons a:hover {
  box-shadow: 6px 6px 0px #c3bcb1;
  margin-top: 2px;
  margin-left: 2px;
  margin-bottom: -2px;
}

.pagination .buttons:before,
.pagination .buttons:after {
  background: #ddd;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  top: 50%;
  width: 400%;
}

.pagination .buttons:before {
  right: 100%;
  margin-right: 10px;
}

.pagination .buttons:after {
  left: 100%;
  margin-left: 10px;
}

.load-more {
  overflow: hidden;
  text-align: center;
}

#footer .col-3, #footer .col-12 {
  text-align: left;
  font-family: "Humanist_521 W03 Rom";
  margin-bottom: 30px;
}

#footer .heading {
  font-family: "CCFaceFront W00 Regular";
  color: #9e0154;
  font-size: 24px;
  margin-bottom: 15px;
  display: block;
}

#footer ul, #footer a {
  padding: 0;
  margin: 0;
  text-align: left;
  color: #333;
}

#footer a {
  text-decoration: underline;
  margin-bottom: 15px;
  display: inline-block;
}

#footer hr {
  clear: both;
  border-top: 1px #c1b9b4 solid;
  margin-bottom: 30px;
}

#footer .col-12 p {
  font-size: 14px;
}

@media (max-width: 46.24em) {
  #footer .col-12 p {
    text-align: center;
  }
}

#footer .social {
  margin-top: 5px;
}

#footer .social a {
  color: #bbcb44;
}

#footer .social a:last-child {
  color: #0f6da1;
}

#footer .number {
  color: #70625a;
  display: block;
  font-family: "Humanist_521 W01 Light";
  font-size: 24px;
  margin-bottom: 15px;
  margin-top: 5px;
}

@media (max-width: 61.24em) {
  #footer .col-3 {
    width: 33.33%;
  }
  #footer .col-3.tablet-full-width {
    width: 100%;
  }
}

@media (max-width: 46.24em) {
  #footer .col-3 {
    width: 100%;
  }
  #footer .col-3.tablet-full-width {
    text-align: center;
  }
  #footer ul, #footer a {
    text-align: center;
  }
}
