h2 {
	font-family:"CCUpUpAndAway W00 Regular";
	text-transform: uppercase;
	font-size: 56px;
	margin-bottom: 35px;
	text-align: center;
	color: $purple;
	@include mq($until: desktop) {
		font-size: 42px;
	}
	@include mq($until: tablet) {
		font-size: 27px;
		margin-top: 20px;
		margin-bottom: 40px;
	}
}
h3 {
	font-size: 22px;
	font-family:"Humanist_521 W01 Light";	
	margin-bottom: 30px;
	line-height: 28px;
}
.container {
	text-align: center;
	&.left-align {
		text-align: left;
	}
}

.left-align {
	text-align: left;
}

.right-align {
	text-align: right;
}

.purple {
	>.container {
		>* {
			color: #fff;
		}

	}
}

.purple-text {
	color: $purple;
}

.wysiwyg {

}

.subheading {
	color: #70625a;
	font-family:"Humanist_521 W01 Light";	
	font-size: 27px;
	padding-bottom: 35px;
	text-align: center;
    display: inline-block;
	&.alt {
		font-family:"CCFaceFront W00 Regular";
		color: $lime-green;

		&.blue {
			color: $blue;
		}
	}

	&.large {
		font-size: 36px; 
		@include mq($until: tablet) {
			font-size: 24px;
		}
	}
	@include mq($until: tablet) {
		font-size: 18px;
	}
}

p {
	font-family:"Humanist_521 W01 Light";
	font-size: 18px;
	line-height: 28px;
	padding-bottom: 35px;
	@include mq($until: tablet) {
		font-size: 14px;
		line-height: 18px;
	}
}

.slider-heading {
	font-family:"Humanist_521 W01 Light";
	color: $purple;
	font-size: 26px;
	line-height: 1.2;
	@include mq($until: tablet) {
		font-size: 18px;
	}
}

@include mq($until: tablet) {
	.mobile-center {
		text-align: center !important;
		p, ul {
			text-align: center !important;
		}
	}
}