/* 
 * Simple column classes. No padding or margins, just widths.
 * Margins/padding to be added in custom styles.
 */

 body {
 	max-width: 2560px;
 	margin: 0 auto;
 	overflow-x: hidden;
 	// TABLET
	@include mq($until: desktop) {
	  width: 100%;
	}
 }

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

/* WRAPPERS */
.container {
	margin: 0 auto;
	max-width: 1000px;
	width: 100%;

	&.content {
		padding-bottom: 8px;
	}
	&:before, &:after {
	    content: " ";    
	    display: block;    
	    height: 0;    
	    overflow: hidden; 
	    clear: both;
	}

	@include mq($until: desktop) {
		padding: 0 20px;
		box-sizing: border-box;
	}
	@include mq($until: desktop) {
		padding: 0 10px;
	}
}

/* COLUMNS */
[class*="col-"] {
    float:left;
    overflow: hidden;
    padding-bottom: 8px;
}

.pull-right {
	float: right !important;
}

.col-1 { 
	width:(100% / 12);
}

.col-2 { 
	width:(100% / 6);
}

.col-3 { 
	width:(100% / 4)
}

.col-4 { 
	width:(100% / 3)
}

.col-5 { 
	width:(100% / 2.4)
}

.col-6 { 
	width:(98% / 2);
	&:nth-child(2n) {
		float: right;
	}
	@include mq($until: tablet) {
		width: 100%;
	}
}

.col-7 { 
	width:(100% / 1.714285714285714)
}

.col-8 { 
	width:(100% / 1.5)
}

.col-9 { 
	width:(100% / 1.333333333333333)
}

.col-10 { 
	width:(100% / 1.2)
}

.col-11 { 
	width:(100% / 1.090909090909091)
}

.col-12 { 
	width:100%; 
}

.offset {
	padding-left: 15px;
	padding-top: 50px;
}

.container {
	.col-6 { 
		&:nth-child(2n) {
			float: right;
		}
	}
}

@include mq($from: desktop) {
	/* Spacing Classes */
	.pad-top-80 {
	  padding-top: 80px;
	  margin-bottom: 200px;
	}
}

@include mq($until: desktop) {
	.tablet-full-width {
		width: 100%;
	}
	.tablet-half-width {
		width: 50%;
	}
	.offset {
		float: right;
		margin-right: 20px;
	}	
}

@include mq($until: tablet) {
	.mob-hide {
		display: none !important;
	}
	.tablet-half-width {
		width: 100%;
	}
	.offset {
		text-align: center;
		box-sizing: border-box;
		width: 100%;
		float: none;
		margin-left: 0;
		padding-left: 0;
		margin-bottom: 20px;
	}	
	.pad-top-80 {
	  padding-top: 40px;
	  padding-bottom: 80px;
	}
	.mobile-center {
		text-align: center !important;
 	}
}

@include mq($from: tablet) {
	.mob-show {
		display: none;
	}
}