@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=ab26655f-ae68-4b70-998a-2c26c7ca0b11");
@font-face{
	font-family:"CCUpUpAndAway W00 Regular";
	src:url("Fonts/febbf41f-1d2c-4e21-b22f-e720cfb08895.eot?#iefix");
	src:url("Fonts/febbf41f-1d2c-4e21-b22f-e720cfb08895.eot?#iefix") format("eot"),url("Fonts/ca262dab-7235-48e4-8c3d-a9ab36d5ef14.woff2") format("woff2"),url("Fonts/35ad7019-3a3f-4204-abf4-8931daf2ab74.woff") format("woff"),url("Fonts/ffbbfd0f-1d36-4b72-880e-e3152c573316.ttf") format("truetype"),url("Fonts/5e6daa75-dc89-42ea-93f7-ac9631b946f7.svg#5e6daa75-dc89-42ea-93f7-ac9631b946f7") format("svg");
}
@font-face{
	font-family:"CCFaceFront W00 Regular";
	src:url("Fonts/b548773f-ef3b-47b5-8649-9b3a0e8ab42c.eot?#iefix");
	src:url("Fonts/b548773f-ef3b-47b5-8649-9b3a0e8ab42c.eot?#iefix") format("eot"),url("Fonts/49b4282d-88ec-4008-abdb-d64d8db42aa4.woff2") format("woff2"),url("Fonts/532e4ba6-43fb-45f0-afb5-47c7a7a749c6.woff") format("woff"),url("Fonts/7ded4d62-acfe-4614-8d89-b93136c95658.ttf") format("truetype"),url("Fonts/0406485d-f04b-4744-bd8d-06168cbc57ad.svg#0406485d-f04b-4744-bd8d-06168cbc57ad") format("svg");
}


@font-face{
font-family:"Humanist_521 W01 Light";
src:url("Fonts/615f6372-b228-488d-af1e-0b47fbbc1347-.eot#iefix");
src:url("Fonts/615f6372-b228-488d-af1e-0b47fbbc1347-.eot#iefix") format("eot"),url("Fonts/2f885745-eb6d-44c9-858c-6dac1c0ba5a1.woff2") format("woff2"),url("Fonts/8b53ef19-d0ba-4458-93be-790c207e5b19.woff") format("woff"),url("Fonts/e245f364-7914-49d5-b5f5-baf4a52c4eed.ttf") format("truetype"),url("Fonts/b14902d5-651c-492c-9f8d-e66e88efd307.svg#b14902d5-651c-492c-9f8d-e66e88efd307") format("svg");
}
@font-face{
font-family:"Humanist_521 W03 Rom";
src:url("Fonts/4503ef13-f3e3-4ed2-ac71-a118eb8181e9-.eot#iefix");
src:url("Fonts/4503ef13-f3e3-4ed2-ac71-a118eb8181e9-.eot#iefix") format("eot"),url("Fonts/dd458331-48c7-41ff-9dc0-5d69a7aa0a23.woff2") format("woff2"),url("Fonts/b18eb9cb-0d2b-4d4c-a9d1-e292821c9fca.woff") format("woff"),url("Fonts/129ebbfb-5f8f-400f-8c79-59b5927858a7.ttf") format("truetype"),url("Fonts/83283ab3-e0b7-4898-ba8f-aea49fd1d7f0.svg#83283ab3-e0b7-4898-ba8f-aea49fd1d7f0") format("svg");
}
@font-face{
font-family:"Humanist_521 W03 Bd";
src:url("Fonts/48032904-0834-4269-a2db-586fa3452101-.eot#iefix");
src:url("Fonts/48032904-0834-4269-a2db-586fa3452101-.eot#iefix") format("eot"),url("Fonts/86e2775a-0f6b-4883-8c07-5dd6c49a6c7d.woff2") format("woff2"),url("Fonts/c7911637-cdc7-4004-a80f-47d974790ac5.woff") format("woff"),url("Fonts/976443f9-a1ec-4349-9530-e0e5855ab95f.ttf") format("truetype"),url("Fonts/aaa6b9c3-e5f1-4f14-8e67-c5bf928ae33f.svg#aaa6b9c3-e5f1-4f14-8e67-c5bf928ae33f") format("svg");
}