<div class="social-feed-element {{? !it.moderation_passed}}{{?}}" dt-create="{{=it.dt_create}}" social-feed-id = "{{=it.id}}">
    <div class='content'>
        <div class="media-body">
            <p>
                <span class="muted"> {{=it.time_ago}}</span>  
            </p>
            <div class='text-wrapper'>
                <p class="social-feed-text">{{=it.text}}<br/><a href="{{=it.link}}" target="_blank" class="read-button">read more</a></p>
            </div>
        </div>
    </div>
    {{=it.attachment}}
</div>