body {
  background: #fff;
}

.overlap-fix {
  margin-top: 0;
  padding-bottom: 0;
  &#footer {
    padding-bottom: 0;
    @include mq($until: tablet) {
      margin-top: 90px;
    }
    @include mq ($from: desktop) {
      margin-top: 380px;
    }
  }
  @include mq($until: desktop) {
    padding-bottom: 0px;
    margin-top: 190px;
  }
  @include mq($until: tablet) {
    margin-top: 165px;
  }
}

* {
  box-sizing: border-box;
}
.slanted-bottom.purple {
  @include mq($from: tablet) {
    margin-top: 200px;
  }
}
.slanted-top.overlap-fix {
  margin-top: 0px;
  @include mq($until: desktop) {
    margin-top: 40px;
  }
  @include mq($until: tablet) {
    margin-top: 80px;
  }
}
.slanted-top.slanted-bottom.overlap-fix {
  padding: 0;
  @include mq($from: tablet) {
    margin-top: 200px;
  }
  @include mq($until: tablet) {
    // top: 160px;
  }
}

.white.overlap-fix {
  margin-top: 425px;
  padding-bottom: 80px;
  margin-bottom: -200px;
  @include mq($until: desktop) {
    margin-top: 230px;
    margin-bottom: -40px;
  }
  @include mq($until: tablet) {
    margin-top: 90px;
    margin-bottom: -40px;
  }
}

.white.overlap-fix-tablet {
  @include mq($until: desktop, $from: tablet) {
    margin-top: 230px;
    margin-bottom: -210px;
  }
}

.white.overlap-fix-2{
  margin-top: 280px;
  @include mq($from: desktop) {
    padding-bottom: 80px;
  }
  @include mq($until: tablet) {
    margin-top: 30px;
  }
}

.slanted-bottom.overlap-fix {

  @include mq($from: desktop) {
    margin-top: 0;
  }

  @include mq($until: mobile) {
    margin-top: 40px;
    top: 160px;
  }
}


.slanted-top, .slanted-bottom {
  position: relative;
  top: 200px;
  width: 100%;
  text-align: center;
  &.purple {
    
    background: $purple;

    &:before, &:after {
      background: $purple;
    }
  }

  &.sand {
    background: $sand;
    @include mq($until: desktop) {
      clear: both;
    }
    &:before, &:after {
      background: $sand; 
    }
  }

  &.light-sand {
    background: $light-sand;
    &:before, &:after {
      background: $light-sand;
    }
    @include mq($until: desktop) {
      //margin-bottom: 20px;
    }
  }

}
.slanted-bottom {
  @include mq($until: desktop) {
     top: 0;
     margin-top: 0;
  }
}
.amazing-tiles {
  .rounded {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    width: 100%;
  }
  .col-4 {
    position: relative;
    box-sizing: border-box;
    padding: 0 10px;

    @include mq($until: tablet) {
      width: 100%;
      margin-bottom: 10px;
    }

    a {
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      position: absolute;
      top: 0;
      bottom: 3px;
      left: 9px;
      right: 9px;
      background: rgba(0,0,0,0.2);
      
      .circle {
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        width: 153px;
        padding: 30px 0;
        @include mq($until: desktop) {
          width: 125px;
          padding: 20px 0;
        }
        @include mq($until: tablet) {
          width: 125px;
          padding: 22px 0;
        }        
        
        position: absolute;
        left: 50%;
        top: 50%;
        letter-spacing: 1.5px;
        transition: .25s ease;
        font-family: "CCFaceFront W00 Regular";
        -webkit-transform:translate(-50%, -50%);
        -moz-transform:translate(-50%, -50%);
        -ms-transform:translate(-50%, -50%);
        -o-transform:translate(-50%, -50%);
        transform:translate(-50%, -50%);

        &.donate {
          background-color:rgba(15, 109, 161, 1);
        }
        &.organise {
          background-color:rgba(188, 205, 67, 1);
        }
        &.find {
          background-color:rgba(79, 100, 117, 1);
        }

        .icon {
          background-image: url('/img/sticky-sprite.png');
          display: block;
          height: 50px;
          width: 50px;
          margin:0 auto 10px;
          @include mq($until: desktop) {
            height: 40px;
            width: 40px;
          }
          &.donate {
            background-position: -250px -159px;
            @include mq($until: desktop) {
              background-position: -160px -100px;
              background-size: 240px;
            }
          }
          &.organise {
            background-position: -250px -98px;
            @include mq($until: desktop) {
              background-position: -160px -61px;
              background-size: 240px;
            }
          }
          &.find {
            background-position: -250px -37px;
            @include mq($until: desktop) {
              background-position: -160px -20px;
              background-size: 240px;
            }
          }
        }
      }
      &:hover {
        .circle {
          &.donate {
              background-color:darken(rgb(15, 109, 161), 20%);
          }
          &.organise {
              background-color:darken(rgb(188, 205, 67), 20%);
          }
          &.find {
              background-color:darken(rgb(79, 100, 117), 20%);
          }
        }
      } 
    }
  }
}
.brand-image {
  margin: 32px 0 22px;
  @include mq($until: desktop) {
    float: left;
    &.social {
      width: 100%;
      text-align: center;
    }
  }
  @include mq($until: tablet) {
    width: 100%;
    text-align: center;
  } 
}

.slanted-top:before {
  content: '';
  position: absolute;
  left: 0;
  top: -101px;
  width: 100%;
  height: 210px;
  z-index: -1;
  -webkit-transform: skewY(-4.5deg);
  -moz-transform: skewY(-4.5deg);
  -ms-transform: skewY(-4.5deg);
  -o-transform: skewY(-4.5deg);
  transform: skewY(-4.5deg);
  -webkit-backface-visibility: hidden;
  position: absolute;
  @include mq($until: tablet) {
    top: -40px;
  }
}
.no-slant {
  color: #fff;
  float: none;
  clear: both;
  margin: -200px 0;
  padding: 35px 0;
  +.slanted-bottom {
    .content {
      @include mq($from: desktop) {
        transform: translateY(-100px);
      }
    }
  }
  .col-4 {
    box-sizing: border-box;
    padding: 15px;
    &.tablet-half-width.mobile-center {  
      margin-bottom: 40px;
    }
  }
  p, ul, span, .col-4 {
    font-family:"Humanist_521 W01 Light"; 
    text-align: left;
    line-height: normal;
    padding-bottom: 15px;
    font-size: 16px;
  }
  ul {
    list-style: disc;
    list-style-position: inside;
  }
  span {
    font-family:"Humanist_521 W03 Rom";
  }
  .subheading {
    font-size: 36px;
    margin-top: 32px;
    @include mq($until: desktop) {
      margin-top: 0;
    }
  }
  a {
    text-decoration: underline;
    &.btn {
      text-decoration: none;
    }
  }
  @include mq($until: desktop) {
    margin-top: -200px;
  }
}
.slanted-bottom {
  background: #00bcd4;
  position: relative;
  padding-top: 60px;

  @include mq($until: desktop) {
    padding-top: 60px;
  }
}

.slanted-bottom:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -101px;
  width: 100%;
  height: 210px;
  z-index: -1;
  -webkit-backface-visibility: hidden;
  -webkit-transform: skewY(-4.5deg);
  -moz-transform: skewY(-4.5deg);
  -ms-transform: skewY(-4.5deg);
  -o-transform: skewY(-4.5deg);
  transform: skewY(-4.5deg);
  position: absolute;
  @include mq($until: tablet) {
    bottom: -40px;
  }
}

.slanted-top {
  padding-bottom: 85px;
  @include mq($until: desktop) {
    padding-bottom: 50px;
  }
  @include mq($until: tablet) {
    top: 0px;
    margin-top: -0px;
  }
}

.buckets {
  margin-bottom: 55px;
  overflow: hidden;
  .col-4 {
    background-color: $light-sand;
    border-radius: 10px;
    box-sizing: border-box;
    margin: 0 1%;
    padding: 20px;
    text-align: left;
    p {
      line-height: normal;
      padding: 0 0 0 74px;
      @include mq($until: desktop) {
        text-align: center;
        padding:10px;
      }
      @include mq($until: tablet) {
        //padding-top: 0;
        padding-left: 74px;
        padding-right: 0;
      }
    }
    width: 32%; 
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
    @include mq($until: desktop) {
      text-align: center;
    }
    @include mq($until: tablet) {
      width: 100%;
      margin-bottom: 10px;
    }
  }
  &.white {
    .col-4 {
      background-color: #fff;
    }
  }
  .circle{
    background-color: $lime-green;
    border-radius: 50%;
    color: #fff;
    width: 64px;
    padding: 17px 0 11px;
    text-align: center;
    font-family:"CCUpUpAndAway W00 Regular";
    font-size: 36px;
    float: left;

    &.blue {
      background-color: $blue;
    }
    @include mq($from: tablet, $until: desktop) {
      float: none;
      display: inline-block;
    }
  }
}
.col-6 {
  img {
   width: 100%;
  }
}
.overlay {
  position: relative;
  a {
    position: absolute;
    top: 0;
    bottom: 0;
    right:0;
    left: 0;
    width: 100%;
    text-align: center;
    color: $lime-green;
    transition: 0.15s ease-in;
    i {
      position: absolute;
      top: 50%;
      font-size: 72px;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
      right: 0;
      left: 0;
    }
    &:hover {
      opacity: 0.8;
    }
  }
}

.events-list {
  overflow: hidden;
  clear: both;  
  a {
    color: $purple;
  }
  .events-list-item {
    margin-bottom: 50px;
    font-family:"Humanist_521 W03 Rom";
    padding: 0 10px;
    box-sizing: border-box;
    .slider-heading {
      margin: 15px 0;
    }
    hr {
        border-top: 1px #d2cbc3 solid;
        border-bottom: transparent;
    }
    .img-holder {
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      border-radius: 15px;
      position: relative;
    }
    .date {
      background: #0f6da1;
      color: #fff;
      position: absolute;
      bottom: 3px;
      left: 0;
      padding: 7px 14px;
      -moz-border-border-bottom-left-radius: 10px;
      -webkit-border-bottom-left-radius: 10px;
      border-bottom-left-radius: 10px;
      -moz-border-border-top-right-radius: 10px;
      -webkit-border-top-right-radius: 10px;
      border-top-right-radius: 10px;
      span {
        display: block;
        &:first-child {
          font-size: 30px;
        }
        &:last-child {
          font-size: 17px;
          text-transform: uppercase;
        }
      }
    }
    img {
      width: 100%;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
    }

    .read-more {
      float: left;
      line-height: 47px;
      margin-right: 5px;
      font-weight: 500;
      color: $purple;
    }

    .social {
      margin-top: 5px;
      a {
        color: $lime-green;
      }
      a:last-child {
        color: #0f6da1;
      }
      .share {
        float: left;
        line-height: 40px;
        margin-right: 5px;
        font-weight: 500;
        color: $purple;
      }
    }
  }
}

.circles {
  text-align: center; 
  margin: 10px 0 40px;
  a {      
    .circle {
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      width: 153px;
      padding: 29px 0;
      display: inline-block;
      margin: 0 5px;
      letter-spacing: 1.5px;
      transition: .25s ease;
      font-family:"CCFaceFront W00 Regular";

      @include mq($until: tablet) {
        width: 120px;
        padding: 18px 0;
      }

      &.faq, &.giving {
        background-color:rgba(15, 109, 161, 1);
      }
      &.contact, &.why, &.sponsor {
        background-color:rgba(188, 205, 67, 1);
      }
      &.tel, &.find, &.load, &.fundraising-pack {
        background-color:rgba(79, 100, 117, 1);
      }
      &.load {
        padding: 38px 0;
        @include mq($until: tablet) {
          padding: 38px 0 16px;
        }
      }

      .icon {
        background-image: url('/img/sticky-sprite.png');
        display: block;
        height: 50px;
        width: 50px;
        margin: 0 auto 10px;
        &.faq {
          background-position: 180px -98px;
        }
        &.why {
          background-position: -186px 173px;
        }
        &.find {
            background-position: -250px -37px;
        }
        &.load {
          background-position: -185px -158px;
          margin: 10px auto 0;
        }
        &.fundraising-pack {
          background-position: 239px -97px;
        }
        &.sponsor {
           background-position: 180px -98px;
        }
        &.giving {
          background-position: 232px -44px;
        }
        &.tel {
            background-position: -313px -37px;
        }
        &.contact {
          background-position: -312px -96px;
        }
        @include mq($until: tablet) {
          width: 40px;
          height: 40px;
          background-size: 270px;
          &.sponsor, &.faq {
              background-position: 129px -66px;
              background-size: 260px;
          }
          &.why {
              background-position: 129px -22px;
              background-size: 260px;
          }
          &.find {
            background-position: -175px -22px;
            background-size: 260px;
          }
          &.load {
            background-position: -135px -116px;
          }
          &.tel {
            background-position: -230px -25px;
          }
          &.fundraising-pack {
            background-position: -93px -70px;
          }
          &.giving {
            background-position: 443px -31px;
          }
          &.contact {
            background-position: -229px -69px;
          }
        }
      }
    }
    &:hover {
      .circle {
        &.faq, &.giving, &.tel {
          background-color:darken(rgb(15, 109, 161), 20%);
        }
        &.why, &.sponsor, &.contact {
          background-color:darken(rgb(188, 205, 67), 20%);
        }
        &.find, &.fundraising-pack, &.tel {
          background-color:darken(rgb(79, 100, 117), 20%);
        }
      }
    } 
  }
}
.pagination {
  .grey {
    margin-top: 30px;
    color: #c3bcb1;
    font-family: "Humanist_521 W03 Rom";
    margin-bottom: 30px;
    text-transform: uppercase;
    font-size: 18px;
  }
  .buttons {
    position: relative;
    display: inline-block;
    width: 300px;
    a {
      margin: 0 10px 0 0;
      float: left;
      &:last-child {
        float: right;
        &:hover {
          margin-right: 8px;
        }
      }
      &:hover {
        box-shadow: 6px 6px 0px #c3bcb1;
        margin-top: 2px;
        margin-left: 2px;
        margin-bottom: -2px;
      }
    }
  }
}
.pagination .buttons:before,
.pagination .buttons:after {
  background: #ddd;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  top: 50%;
  width: 400%;
}

.pagination .buttons:before {
  right: 100%;
  margin-right: 10px;
}

.pagination .buttons:after {
  left: 100%;
  margin-left: 10px;
}

.load-more {
  overflow: hidden;
  text-align: center;
}

img.infographic {
  width: 100%;
} 

.wysiwyg {
  a {
    font-family:"Humanist_521 W03 Rom";
    text-decoration: underline;
    color: $purple;
  }
  ul {
    padding-left: 17px;
    font-size: 18px;
    font-family:"Humanist_521 W01 Light"; 
    list-style: disc;
    line-height: 28px;
  }
  p:last-child {
    padding: 0;
  }
}
.purple {
  .wysiwyg {
    a {
      color: $lime-green;
    }
  }
}