#footer {
	.col-3,.col-12 {
		text-align: left;
		font-family:"Humanist_521 W03 Rom";
		margin-bottom: 30px;
	}
	.heading {
		font-family:"CCFaceFront W00 Regular";
		color: $purple;
		font-size: 24px;
		margin-bottom: 15px;
		display: block;
	}
	ul, a {
		padding: 0;
		margin: 0;
		text-align: left;
		color: #333;
	}
	a {
	    text-decoration: underline;
		margin-bottom: 15px;
		display: inline-block;
		&:hover {
			color: #9e0154;
		}
	}
	hr {
		clear: both;
		border-top: 1px #c1b9b4 solid;
		margin-bottom: 30px;
	}
	.col-12 p {
		font-size: 14px;
		@include mq($until: tablet) {
			text-align: center;
		}
	}
	.social {
		margin-top: 5px;
		a {
			color: $lime-green;
		}
		a:last-child {
			color: #0f6da1;
		}
	}
	.number {
		color: #70625a;
		display: block;
		font-family:"Humanist_521 W01 Light";
		font-size: 24px;
		margin-bottom: 15px;
		margin-top: 5px;
	}
	@include mq($until: desktop) {
		.col-3 {
			width: 33.33%;
			&.tablet-full-width {
				width: 100%;
			}
		}
	}
	@include mq($until: tablet) {
		.col-3 {
			width: 100%;
			&.tablet-full-width {
				text-align: center;
			}
		}
		ul, a {
			text-align: center;
		}
	}
}