#top {
	padding: 27px 0;
	@include mq($until: tablet) {
		padding: 27px 0 0;
	}
}


#top-links {
	font-family:"Humanist_521 W03 Rom";
	a {
		color: $lime-green;
		&:hover {
			color: darken($lime-green, 20%);
		}
	}
	a:last-child {
		color: $blue;
		&:hover {
			color: darken($blue, 20%);
		}
	}
	.social {
		>span {
			display: inline-block;
			float: left;
			padding: 14px 14px 0 0;
			color: #70625a;
		}
	}
	.tel {
		clear: both;
		span {
			float: left;
		}
		a {
			color: $purple;
		}
		.icon {
			background-image: url('/img/sticky-sprite.png');
			background-repeat: no-repeat;
	        background-position: -99px -159px;
	        display: inline-block;
		    width: 52px;
		    height: 52px;
		    @include mq($until: tablet) {
		        background-position: -26px -79px;
			    width: 52px;
			    background-size: 190px;
			    height: 52px;
		    }
		}
		.number {
			display: inline-block;
			padding: 9px 0px 0 14px;
			text-align: right;
			font-size: 32px;
			color: $purple;
			@include mq($until: tablet) {
				font-size: 18px;
				padding: 9px 0px 0 6px;
			}
		}

	}
}

#logo {
	display: inline-block;
	transition: 0.15s ease-in;
	&:hover {
		opacity: 0.7;
	}
	@include mq($until: tablet) {
		width: 130px;
		img {
			width: 100%;
		}
	}
}

.purple {
    background: $purple;
}


@-webkit-keyframes shake {
    0% { -webkit-transform:      translate(0px, 2px) rotate(5deg); }
    10% { -webkit-transform:     translate(0px, -2px) rotate(-5deg); }
    20% { -webkit-transform:     translate(0px, 2px) rotate(5deg); }
    30% { -webkit-transform:     translate(0px, -2px) rotate(-5deg); }
    40% { -webkit-transform:     translate(0px, 2px) rotate(5deg); }
}

#main-nav {
	font-family:"Humanist_521 W01 Light";
	line-height: normal;
	font-size: 18px;
	height: 50px;
	ul {
		padding: 0;
		margin: 0;
		float: left;
		height: 50px;
		li {
			display: block;
			height: 50px;
			float: left;
			transition: 0.1s ease-in;
			a {
				display: inline-block;
				padding: 14px 10px;
			}
			&:hover {
				background-color: $dark-purple;
			}
			&.home {
				background-image: url('/img/sticky-sprite.png');
				background-repeat: no-repeat;
			    background-position: -108px 7px;

				a {
					display: inline-block;
				    height: 50px;
				    width: 50px;
					text-indent: -9999px;
					padding: 7px 10px;
				}
			}
		}
		&.secondary {
			font-family:"CCUpUpAndAway W00 Regular";
			font-size: 14px;
			text-transform: uppercase;
			li {
				-ms-transform: skewX(5deg);
			    -webkit-transform: skewX(5deg); 
			    -moz-transform: skewX(5deg); 
			    transform: skewX(5deg);
			    -webkit-backface-visibility: hidden;
			    a {
		    		padding:  17px 10px;
    				-ms-transform: skewX(-5deg);
				    -webkit-transform: skewX(-5deg); 
				    -moz-transform: skewX(-5deg); 
				    -o-transform: skewX(-5deg); 
				    transform: skewX(-5deg);	
			    }
			}
			.green-item {
				background: $lime-green;
				@include mq($until: tablet) {
					margin-right: 4px;
				}
				&:hover {
					background:darken($lime-green, 20%);
				}
			}
			.blue-item {
				background: $blue;
				-webkit-animation-name: shake;
				-webkit-animation-duration:     1s;
				-webkit-animation-iteration-count: 2;
				-webkit-animation-name: shake;
                -webkit-animation-timing-function: linear;
				-moz-animation-name: shake;
				-moz-animation-duration:     1s;
				-moz-animation-iteration-count: 2;
				-moz-animation-name: shake;
                -moz-animation-timing-function: linear;
        		&:hover {
					background: darken($blue, 20%);
				}
			}
		}

	}
	@include mq($until: tablet) {
		padding: 0;
	}
	.mobile-opener {
		display: none;
		@include mq($until: desktop) {
			display: block;
		    background-image: url("/img/nav-opener.png");
		    background-size: 35px;
		    background-repeat: no-repeat;
	        background-position: 45% 45%;
			float: left;
			width: 35px;
			padding: 25px 35px;
			height: 35px;
			&.open {
				background-color: #6d003e;
			}
		}
		@include mq($until: desktop, $from: tablet) {
			margin-left: -10px;
		}
	}
	@include mq($until: desktop) {
		.primary {
			display: none;
		    position: absolute;
		    border: 1px #e9e4da solid;
		    left: -1px;
		    top: 199px;
		    height: auto;
			li {
				float: none;
				background: #fff;
				text-align: left;
				a {
					color: $purple;
				    padding: 14px 15px;
				}
				&.home {
					display: none;
				}
			}
		}
	}
	@include mq($until: tablet) {
		.primary {
			top: 172px;
		}
	}
}

#hero {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 500px;
	@include mq($until: desktop) {
	  width: 100%;
	  height: 316px;
	}
	@include mq($until: tablet) {
		height: 155px;
	}
}

