/* Plugin styles */

.social-header {
    text-align: left;
    color: #fff;
    margin: 0 20px;
    padding: 15px;
    font-family:"CCFaceFront W00 Regular";
    font-weight: 100;
    .title {
        font-size: 22px;
        padding: 11px 5px;
        display: inline-block;
    }
    .fa-stack {
        float: left;
        display: block;
    }
    .social-link {
        background-image: url('/img/sticky-sprite.png');
        background-position: -327px -169px;
        display: block;
        float: right;
        margin-top: 3px;
        height: 37px;
        width: 37px;
    }
    &.facebook {

        background-color: #bccd43;
        .fa-inverse {
            color: #bccd43;
        }
    }
    &.twitter {

        background-color: #0f6da1;
        .fa-inverse {
            color: #0f6da1;
        }
    }
}

.social-feed-container {
    margin-top: 50px;
}

.social-feed-element.hidden{
    background-color:red !important;
}
.social-feed-element .pull-left{
    float:left;
}
.social-feed-element .pull-right {
    margin-left: 10px;
}
.social-feed-element img {
    width: 100%;
    width: auto\9;
    height: auto;
    border: 0;
    width: 100%;
    vertical-align: middle;
    -ms-interpolation-mode: bicubic;
}
.social-feed-element .attachment {
    margin-top: 15px;
    vertical-align: middle;
    -ms-interpolation-mode: bicubic;
}

/* Link styles */
.facebook-block a {
    color: #bccd43;
    font-family: "Humanist_521 W03 Rom";
    text-decoration: none;
}

.facebook-block a:focus {
    outline: thin dotted darken(#bccd43, 10%);
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.facebook-block a:hover,
.facebook-block a:active {
    outline: 0;
    color: darken(#bccd43, 10%);
    text-decoration: underline;
}

.twitter-block a {
    color: #0f6da1;
    font-family: "Humanist_521 W03 Rom";
    text-decoration: none;
}

.twitter-block a:focus {
    outline: thin dotted darken(#0f6da1, 10%);
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.twitter-block a:hover,
.twitter-block a:active {
    outline: 0;
    color: darken(#0f6da1, 10%);
    text-decoration: underline;
}

/* Text styles */
.social-feed-element small {
    font-size: 85%;
}
.social-feed-element strong {
    font-weight: bold;
}
.social-feed-element em {
    font-style: italic;
}
.social-feed-element p {
    margin: 0 0 10px;
    padding: 0;
}
.social-feed-element .media-body > p{
    margin-bottom:4px;
    min-height:20px;
}
.social-feed-element p.social-feed-text {
    margin: 0;
    overflow: hidden;
    line-height: 24px;
    text-overflow: ellipsis;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

/* Message styles */
.social-feed-element,
.social-feed-element .media-body {
    overflow: hidden;
    zoom: 1;
    *overflow: visible;
}
.social-feed-element .media-body .social-network-icon{
    margin-top: -3px;
    margin-right:5px;
    width:16px;
}
.social-feed-element .media-body div{
    color:#666;
    line-height: 20px;
}
.social-feed-element:first-child {
    margin-top: 0;
}
.social-feed-element .media-object {
    display: block;
    width:48px;
    border-radius:50%;
    background: #fff;
}
.social-feed-element .media-heading {
    margin: 0 0 5px;
}
.social-feed-element .media-list {
    margin-left: 0;
    list-style: none;
}

.social-feed-element .muted {
    color: #999;
}
.social-feed-element a.muted:hover,
.social-feed-element a.muted:focus {
    color: #9d0054;
}

.social-feed-element {
    transition: 0.25s;
    -webkit-backface-visibility: hidden;
    background-color: #fff;
    color: #333;
    text-align:left;
    font-size: 14px;
    font-family: "Humanist_521 W01 Light";
    line-height: 16px;
    margin: 0 20px;
    float: right;
    padding: 15px 20px;
}

.social-feed-element:first-child { 
    float: left;
}

.social-feed-element .content{
    
}
.social-feed-element .social-network-icon{
    opacity:0.7;
}


.social-feed-element .author-title{
    color: #444;
    line-height: 1.5em;
    font-weight: 500;  
}

.social-feed-element .media-object {
    display: block;
    width: 66px;
    padding: 5px;
    border-radius: 50%;
    border: 1px #d3ccc4 solid;
}

.social-feed-element .author-title {
    font-weight: 600;
    color: #9d0054;
    font-family: "Humanist_521 W03 Rom";
}

.bg-white .social-feed-element {
    background: #e9e4da;
}

@media screen and (max-width: 767px) {
    .social-feed-element {
        width:auto;
        margin-bottom: 20px;
    }
    .social-feed-element p.social-feed-text {
        padding: 10px 0 0;
        width: 100%;
        display: block;
    }
    .social-feed-element, .social-feed-element .media-body {
        overflow: hidden;
        zoom: 1;
        width: auto;
        display: inline;
    }
    .social-feed-element img {
        float: none;
    }
    .author-title, .muted.pull-right {
        display: block;
        float: none !important;
        margin-left: 65px;
    }
    .author-title {
        margin-top: 10px;
    }
}

