#sticky-menu {
	@include mq($until: desktop) {
		display: none;
	}
	position: fixed;
	right: 83px;
	top: 30%;
	font-family:"Humanist_521 W01 Light";
	z-index: 100;
	ul {
		padding: 0;
		margin: 0;

		li {
			background: $lime-green;
			display: block;
			color: #fff;
			height: 80px;
			transition: all 0.4s ease-in-out;
			border: 1px #fff solid;
			border-right: none;
			position: absolute;
			width: 83px;
			overflow: hidden;
			cursor: pointer;
			.sprite {
				display: block;
				height: 53px;
				width: 63px;
				margin: 13px;
				float: right;
				background: url('/img/sticky-sprite.png') no-repeat;
			}

			&.email {
				.sprite {
					background-position: 7px 0px;
				}
				&:hover {
					width: 188px;
					margin-left: -105px;
				}				
			}
			&.print {
				.sprite {
					background-position: 7px -78px;
				}
				margin-top: 79px;
				&:hover {
					width: 188px;
					margin-left: -105px;
				}
			}
			&.bookmark {
				.sprite {
					background-position: 7px -156px;
				}
				margin-top: 158px;
				&:hover {
					width: 228px;
					margin-left: -145px;
				}
			}

			&:hover {
				.inline {
					opacity: 1;
					transition: opacity 0.2s ease-out;
					transition-delay: 0.4s;
				}
			}
			&:nth-child(2) {
				border-top: 1px #fff solid;
				border-bottom: 1px #fff solid;
			}
		}
	}
	.inline {
		display: inline-block;
		float: right;
		padding: 31px 0 0;
		opacity: 0;
		transition: opacity 0.2s ease-out;
	}
}